[2016-12-30 15:55] y3nd opened #1 "./upload.sh: line 162: mimetype: command not found on Ubuntu 16.04"
Please help.

[2016-12-30 16:03] y3nd commented on #1
Solved by installing `libfile-mimeinfo-perl` package.

[2016-12-30 16:03] #1 closed

[2016-12-30 16:06] y3nd opened #2 "The whole file is being stored in memory"
Causing a curl error for big files :
`curl: option --data-binary: out of memory`

[2017-01-06 10:07] labbots commented on #2
@y3nd could you please let me know the size of file you are trying to upload?

[2017-02-09 22:30] y3nd commented on #2
Near 2 GB, the file has to be chunked for RAM optimization.

[2017-02-14 11:47] dhiva commented on #2
I think that makes sense. If you have come up with an option to do the chunking please create a PR. I will also try working on it.

[2017-07-03 04:13] R4to0 commented on #2
On line 197:
https://github.com/labbots/google-drive-upload/blob/master/upload.sh#L197

Change
`--data-binary "@$FILE" \`

to
`--upload-file "$FILE" \`

Worked for me, uploaded a 2,3GB file on a 1,5GB system with 700MB free RAM.

[2017-07-22 19:42] MuneebJamil opened #4 "error"
upload.sh: line 162: mimetype: command not found

please help me to resolve this issue

![capture](https://user-images.githubusercontent.com/16627059/28494266-661f358c-6f42-11e7-8287-93312536b19d.PNG)

[2017-08-01 13:12] labbots commented on #4
@MuneebJamil I am looking into the issue. I will get back to on that shortly.

[2017-08-01 13:15] labbots commented on #4
[Pull request](https://github.com/labbots/google-drive-upload/pull/3) from @jimmyppi fixed the issue. Please update the script and see whether that fixes your problem. Thank you.

[2017-08-01 13:15] #4 closed

[2017-08-01 13:17] labbots commented on #2
Updated that script. Thanks for your feedback @R4to0

[2017-08-01 13:17] #2 closed

[2017-08-02 09:49] MuneebJamil opened #5 "Curl error"
thanx for helping me now i am facing new error previous error is removed thanx for that now this error is arrive  i am very thankful to u if u help me to resolve this error when i run this upload name file the text appear   **Go to  and enter  to grant access to this application. Hit enter when done...**  i dont know where to go and grant access to this application and if i enter it as the error c

[2017-08-03 09:52] labbots commented on #5
Looking into this issue. Will get back to you a soon as possible.

[2017-08-03 12:02] labbots commented on #5
@MuneebJamil do you have .googledrive.conf created in your user home directory.

[2017-08-03 13:00] MuneebJamil commented on #5
Yes

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: labbots <notifications@github.com>
Sent: Thursday, August 3, 2017 5:02:40 PM
To: labbots/google-drive-upload
Cc: MuneebJamil; Mention
Subject: Re: [labbots/google-drive-upload] Curl error (#5)

@MuneebJamil<https://github.com/muneebjamil> do you have .googledrive.conf created in your user home directory.

—

[2017-08-03 13:01] MuneebJamil commented on #5
It will create automatically

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: labbots <notifications@github.com>
Sent: Thursday, August 3, 2017 5:02:40 PM
To: labbots/google-drive-upload
Cc: MuneebJamil; Mention
Subject: Re: [labbots/google-drive-upload] Curl error (#5)

@MuneebJamil<https://github.com/muneebjamil> do you have .googledrive.conf created in you

[2017-08-03 13:14] labbots commented on #5
Do you have the correct client id and client secret in that config file?

[2017-08-03 13:17] MuneebJamil commented on #5
Yes

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: labbots <notifications@github.com>
Sent: Thursday, August 3, 2017 6:14:41 PM
To: labbots/google-drive-upload
Cc: MuneebJamil; Mention
Subject: Re: [labbots/google-drive-upload] Curl error (#5)

Do you have the correct client id and client secret in that config file?

—
You are receiving this because you wer

[2017-08-03 13:18] MuneebJamil commented on #5
Yes i have tried many ids but same result

[2017-08-03 13:21] MuneebJamil commented on #5
When i run the file the msg came go to and access grant to application where to go and grant access

[2017-08-09 15:41] kimb opened #6 "Symbolic link to upload.sh in another folder won't work"
fix by adding readlink to the `DIR` calculation:
`DIR="$( cd "$( dirname "$( readlink "${BASH_SOURCE[0]}" )" )" && pwd )"`

[2017-08-09 15:45] kimb commented on #5
ideas:
"2017" doesn't seem like a valid drive folder id?
"/home/pi" is not a file, but a folder?

[2017-08-09 15:47] MuneebJamil commented on #5
/home/pi is a path and golder does exist and valid

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Kim Blomqvist <notifications@github.com>
Sent: Wednesday, August 9, 2017 8:45:16 PM
To: labbots/google-drive-upload
Cc: MuneebJamil; Mention
Subject: Re: [labbots/google-drive-upload] Curl error (#5)

ideas:
"2017" doesn't seem like a valid drive folder id?
"/h

[2017-10-20 12:22] #5 closed

[2017-10-20 12:28] labbots commented on #6
@kimb thanks for your feedback. The script is now updated based on your comment.

[2017-10-20 12:28] #6 closed

[2017-10-22 19:54] xnosek00 opened #10 "When uploading file - curl: (3) <url> malformed"
Hi,
 there is a bug in your script. Fresh download of script - today.
 I use script this way: ./upload.sh vojtkovi.xlsx -r folderID
 After Client ID and Client Secret and go to google.com/device and accepting, I have this message:
`curl: (3) <url> malformed`

 I tested another account and it works good (the same procedure). But using another account is not solution.

 log report:

[2017-10-22 21:39] xnosek00 commented on #10
this example is without folder (using root folder) with the same result. File size is 600kB and I have free 3GB of disk space on google drive.

[2017-10-29 02:57] mgbarton commented on #10
If you tweak the upload.sh script to show the data being returned by curl in the uploadlink step, you will probably see that the curl command is returning an error.  In my case, it provided a URL for the  the developers console, where I had to enable the Google Drive API for my account.

[2017-10-29 09:58] xnosek00 commented on #10
Hi, you're right. My Google Drive API for that account was disabled.
This link helps me to enable it: https://console.developers.google.com/apis/library/drive.googleapis.com/?q=google%20driv

My fault.
Thank you for help. You can close this issue. It works :)

[2017-10-29 09:59] #10 closed

[2018-01-09 07:38] yahanvesh opened #11 "uploading files to team drive directory support"
I tried to upload a file to a team directory folder and it gave success but I couldnt find the file in the team drive.

Go to https://www.google.com/device and enter WYHS-KZZP to grant access to this application. Hit enter when done...
Folder ID for folder name  : 0AKvfXElmasdadasd
Generating upload link for file  abcfile.pdf ...

Uploading file .abcfile.pdf to google drive...
####################

[2018-01-09 16:07] labbots commented on #11
@yahanvesh I dont have a team drive to test this behaviour. So my guess would be to check the permissions for the access token.

[2018-03-22 10:48] kornysietsma opened #12 "Doesn't work with OSX default getopt"
OSX comes with non-gnu versions of getopt, sed and stat, which cause this script to behave badly - help doesn't work, some commands do work, but it does things like create folders called `--options` in your drive!

You can work around this by running `brew install coreutils gnu-sed gnu-getopt`
and then following the instructions to put the gnu getopt in your path:
[code]
You'll also need to modify

[2018-04-04 09:17] Narendra-WAL opened #13 "Getting issue with stat -c in MacOS High Sierra"
There are issues already related to this in other forums.
https://github.com/phpbrew/phpbrew/issues/399

But none of the solutions shared in those forums are not working.

[2018-04-04 09:57] Narendra-WAL commented on #12
I made the changes as mentioned above. But still the file is not getting uploaded. Script is not able to find the fileName when this command is used
`./upload.sh -v -r <google-folder-id> <file/directory-path>`

I have hardcoded the fileName in upload.sh. Then file is getting uploaded to a folder with name --options, rather than the desired folder. And I don't even have access to that --options fol

[2018-04-05 09:52] Narendra-WAL commented on #13
Closing this issue, as there is an open issue and solution to some extent already open.
https://github.com/labbots/google-drive-upload/issues/12

[2018-04-05 09:52] #13 closed

[2018-05-03 19:20] mugar opened #14 "overwrite previous files"
Hello, thank you for the script works great.

I have a question though if uploading the same file but with updated content, how to make it overwrite the previously uploaded one instead of having the google drive create another one ?

[2018-05-24 15:09] okobloko opened #15 "What is ROOTDIR and where does one find it?"
This is (I hope) exactly what I'm looking for :-) Unfortunately, I'm struggling to understand what you mean by ROOTDIR and where it is supposed to be found.  I can imagine you mean an ID (like the google folder IDs) which identifies the root of a particular user's Drive account... but where do I find that ID?  Very confused :-)

[2018-05-24 17:06] okobloko opened #16 "curl: (3) <url> malformed - empty curl string"
The ClientID/Secret/Root are setup but I'm getting a "curl: (3) <url> malformed" error.
I added a bit more logging to the relevant line -
`log "Generating upload link for file $FILE ...ACCESS TOKEN [${ACCESS_TOKEN}] MIME TYPE [$MIME_TYPE] FILE SIZE [$FILESIZE] postData [$postData]"`
All the variables are populated, but after setting the uploadlink variable, I can see that it is an empty string, re

[2018-05-24 17:08] okobloko commented on #16
I've also just noticed that using the -C option to create a folder returns no error, but also fails to create any new folders.

[2018-06-02 15:28] TariqKotwal commented on #16
Please check your client type while generating client id, it should be "other"

[2018-09-28 07:35] laocoi opened #17 "How to get ID of file uploaded?"
Hello,

Can I get ID of file uploaded? And how?

Thank you for make easy to use script!

[2018-11-06 09:44] labbots commented on #17
The script does not have a feature to get the file id or get a shareable link to the file. I will add this to a feature request and I will providing the feature as soon as possible.

[2019-06-12 23:40] ArnoutVerbeken commented on #11
Change line 184 of upload.sh to
`"https://www.googleapis.com/upload/drive/v2/files?uploadType=resumable&supportsAllDrives=true" \
`

[2019-08-02 20:55] nbarrera commented on #2
I was using tag v1.0 as I thought that was the latest version, and this fix is not there...
it would be great to have a new tag with important fixes like this.

[2019-08-25 01:47] shakerlxxv commented on #11
I can't say which would be be better but I initially tried adding `supportsTeamDrives=true&` to the uploadlink url (line 184) and it worked. I tried again with `supportsAllDrives=true&` and that also appears to work.

I would propose adding a command line option `-t | --team-drives` or perhaps `-a | --all-drives` to insert this URL parameter. Unless you'd like to test the All Drives option in your

[2019-10-31 22:29] Audio commented on #16
In my case there was a problem with root folder id. Validation requires folder id of length 28 characters, although drive.google,com shows pattern `<28 chars>-<4 chars>` in URL. If 28 chars folder id is used, Google API returns error 404 and `uploadlink` is empty. If full folder id is used, the script works just fine.

[2019-11-28 11:05] nepohex opened #19 "curl: (3) <url> malformed"
Hello!
Thank you for your job!

I was working with it almost month, uploaded more than 2TB to my Drive hundred times by 10GB files, but 2 days ago it become to throw an error.

`curl: (3) <url> malformed`

What I've already tried:
- Deleted config, reinstalled, re-autorize with current project in development console.
- Created new project in development console, done same in prev step.

Nothing wo

[2019-12-02 09:28] capriciousduck opened #20 "10Gbps"
I have a server with 10Gbps bandwidth. The file uploading is working but I wanted to use the entire 10Gbps to upload files. The upload is slow now(max 500Mbps). And I upload files to my google drive.

If I upload multiple files at the same time in different terminals, the speed goes to 2Gbps....But If I upload  a file(30Gb mkv), the upload is usually slow.

[2019-12-04 12:40] eduardomazolini commented on #19
Me too!

[2019-12-04 14:11] eduardomazolini commented on #19
I permanently deleted items from my google drive and it worked.

[2019-12-04 14:14] nepohex commented on #19
For me it started to work after 24+ hours. I think it's something like shadow ban in google Drive if you upload more than 1TB in 24 hours (thats what I did in that day).

[2020-01-06 09:54] robert7 commented on #12
I use this script on linux and its very useful. Recently I tried on OSX (macOS 10.15) and ist dosesn't work, as few used utilities (getopt, stat and sed) which are per default available on OSX work a bit differently.
Here is quick fix:
1, install gnu utilities `brew install coreutils gnu-sed gnu-getopt`
2, at the begin of tjhe upload.sh insert `PATH="/usr/local/opt/coreutils/libexec/gnubin:/usr/lo

[2020-01-12 20:34] labbots commented on #11
I believe this option is now available in the script based on PR from @frankent.

[2020-01-12 20:34] #11 closed

[2020-02-15 18:12] vpeace opened #22 "22 mb file not reflecting in google drive"
When I'm uploading a file of 22 mb it's not reflecting in google drive

[2020-02-18 18:08] oamado commented on #19
I have the same issue? any update?

[2020-03-28 04:58] Akianonymus commented on #19
Drive have a limit of 750 GB data upload for a day.

[2020-04-02 18:22] Akianonymus commented on #16
Invalid Issue.

[2020-04-17 09:37] #17 closed

[2020-04-17 09:37] #12 closed

[2020-04-17 11:05] labbots commented on #19
As @Akianonymus mentioned this is due to google drive upload limit for a day. Try the latest update which provides debug message to see the errors.

[2020-04-17 11:05] #19 closed

[2020-04-17 11:06] #16 closed

[2020-04-17 11:06] labbots commented on #22
@vpeace could you try it again with the v2.0 of the script

[2020-04-17 11:07] #20 closed

[2020-04-28 12:28] moeinrahimi opened #25 "issue on checking credentials"
mine was working just fine, then when trying to upload files, shell hung up on checking credentials phase, I updated the code from repo and removed config file and now it stuck on after i enter authorization code.
update: now it stuck in root configured.
[code]

[2020-04-28 12:42] Akianonymus commented on #25
Try from my repo.

I will check soon..

https://github.com/Akianonymus/google-drive-upload

[2020-04-28 12:58] Akianonymus commented on #25
@moeinrahimi I just tried a fresh setup, just pushed a fix for setting `root` as root folder.

Wait till my PR is merged or try using my repo
https://github.com/Akianonymus/google-drive-upload

Cheers.

[2020-04-28 14:42] Bautista-Baiocchi-lora commented on #14
Is this feature now working in master?

[2020-04-29 13:39] silviuvulcan opened #27 "Running from jenkins"
This is a weird one, hopefully you have an idea. But first, thank you for this ! it's very useful.

I'm running google-drive-upload from jenkins (to upload some artifacts) and the job fails (even though results are uploaded). Jenkins checks exit code and it seems to be "1"

[code]

So I tried running with -D to see where it fails and with -D it works fine (with exit level 0) which makes me think i

[2020-04-30 09:24] Akianonymus commented on #27
@silviuvulcan Can you try out this PR and report if issue exists??
https://github.com/labbots/google-drive-upload/pull/24

[2020-04-30 09:34] silviuvulcan commented on #27
Sure, will test but probably only tomorrow.

By --batch I mean a mode that is batch processing friendly, i.e.:

- doesn't manipulate output like it now does (by writing status on the same line, background tasks, etc)
- doesn't have progress bars
- runs commands one by one, not in the background
- doesn't use special characters and/or colors

Basically something that is friendly to being run automa

[2020-04-30 16:13] Akianonymus commented on #27
@silviuvulcan I have added commits in the same PR.

https://github.com/labbots/google-drive-upload/commit/5312bd07808e59d718f5104cafe6d69a5e41dbc8

Here is a sample log: https://del.dog/imamicidir.md

Suggest if you have any ideas to improve.

For saving output to a log, will try later to implement in a flag.

[2020-04-30 18:50] #14 closed

[2020-04-30 18:58] labbots commented on #14
@Bautista-Baiocchi-lora This feature is now available in master.

[2020-04-30 18:59] labbots commented on #25
@moeinrahimi @Akianonymus The PR is now merged.

[2020-04-30 19:04] labbots commented on #22
Tested with uploading 30MB file and it works as expected. So I am closing this ticket as there is no further feedback from the reporter.

[2020-04-30 19:04] #22 closed

[2020-05-03 09:08] capriciousduck opened #28 "System wide install"
How to install it system wide? I want to use the script from any folder.

[2020-05-03 14:14] Akianonymus commented on #28
https://github.com/labbots/google-drive-upload/pull/29

[2020-05-04 07:09] mspgalaxys2lite opened #30 "Uploading Folders recursively"
There's a problem uploading folders recursively:
Let's say folder_to_upload has one folder namely folder_1 which has multiple folders namely folder_11, folder_12 and folder_13

The following command: ./upload.sh -r <google-folder-ID> path/folder_to_upload

creates a folder with the name folder_to_upload in the google drive folder with ID <google-folder-ID> but creates folders folder_12 and folder_

[2020-05-04 08:35] Akianonymus commented on #30
https://github.com/labbots/google-drive-upload/commit/c96bc374556b38796c91b0ba2b8eb54e290877e3

Try and report :)

[2020-05-04 12:36] labbots commented on #27
@silviuvulcan the code is now merged to master. Do you still have the issue?

[2020-05-04 12:57] silviuvulcan commented on #27
sorry for the delay

I tried testing but it seems another bug crept in:

[code]

[2020-05-04 13:50] Akianonymus commented on #27
@silviuvulcan Longoptions was broken, my bad :(

pushed a fix

https://github.com/labbots/google-drive-upload/commit/c360aec21caaea468b6b4d2a3ea577f35caab177

[2020-05-04 13:55] labbots commented on #27
@Akianonymus could you please raise this fix as a separate PR

[2020-05-04 14:14] Akianonymus commented on #27
@labbots Done 👍

[2020-05-04 15:06] Akianonymus commented on #27
@labbots I think you should've waited for his confirmation unless and until you checked on jenkins

[2020-05-04 15:18] labbots commented on #27
@silviuvulcan could you please confirm whether the fix worked for you

[2020-05-04 15:38] silviuvulcan commented on #27
Did a quick check - both with and without --quiet is now working fine from jenkins. Also output in the jenkins log without "quiet" looks a lot better, the weird chars are gone:

[code]

Great job!

[2020-05-04 15:57] capriciousduck opened #33 "curl error"
I am getting the following error while trying to upload.

`curl: (6) Could not resolve host: HTTP`

[2020-05-04 15:58] labbots commented on #27
Perfect @silviuvulcan I am closing this ticket then.

[2020-05-04 15:58] #27 closed

[2020-05-04 16:31] Akianonymus commented on #33
@capriciousduck Try running the script with -D flag and give logs

Also mention the exact command you used.

[2020-05-04 16:51] #25 closed

[2020-05-05 11:13] mspgalaxys2lite commented on #30
I tried with new upload.sh file, now folder_1 is not created. folder_11,
folder_12 are available in folder_to_upload folder itself after upload.

On Mon, 4 May 2020 at 14:06, Aki <notifications@github.com> wrote:

[2020-05-05 12:01] labbots commented on #30
@mspgalaxys2lite is that the expected behaviour you are looking for?

[2020-05-05 15:51] Akianonymus commented on #30
@mspgalaxys2lite https://github.com/labbots/google-drive-upload/pull/29

try this

[2020-05-05 16:06] mspgalaxys2lite commented on #30
That is not the expected behaviour.

folder_to_upload has folder_1.
folder_1 has folder_11, folder_12 and folder_13.

After Fix#30, I see folder_to_upload itself has folder_11, folder_12 and
folder_13. folder_1 is absent.

On Tue, 5 May 2020 at 17:31, labbots <notifications@github.com> wrote:

[2020-05-05 16:20] #28 closed

[2020-05-05 16:21] labbots commented on #30
PR is now merged

[2020-05-05 16:44] mspgalaxys2lite commented on #30
Fix #30 is not working.

On Tue, 5 May 2020 at 21:51, labbots <notifications@github.com> wrote:

[2020-05-05 16:44] mspgalaxys2lite commented on #30
Still hierarchy is not maintained properly.

On Tue, 5 May 2020 at 22:14, S P <msp.galaxys2lite@gmail.com> wrote:

[2020-05-05 16:49] mspgalaxys2lite opened #34 "Retry Failed Uploads"
Hi!!! Many thanks for the script. Very much useful.

Is there a way to re-try uploading for failed uploads?
Also, resuming uploading process after the internet connection is resumed?

[2020-05-05 18:01] Akianonymus commented on #30
ok, i agree, foolish of me to not test all possible scenarios, working on a fix now..

This has been a real pain  😂

[2020-05-06 03:40] Akianonymus commented on #30
@mspgalaxys2lite

Try this script
https://github.com/Akianonymus/google-drive-upload/blob/master/upload.sh

[2020-05-06 03:41] Akianonymus commented on #30
@labbots Please reset to previous commit ( https://github.com/labbots/google-drive-upload/commit/1b0345d6ad69fa753d14f3d1e5128e8ca552c5e2 ).

Then, after confirmation from @mspgalaxys2lite , cherry pick my commit that i have force pushed ( https://github.com/Akianonymus/google-drive-upload/commit/b2f2f16cbdd18f89c2f685c49e2dd81928b3d681 ) and force push.

I don't wanna mess up the git history by m

[2020-05-06 03:44] Akianonymus commented on #33
This can be closed after #30 is fixed.

[2020-05-06 04:56] mspgalaxys2lite commented on #30
Not an issue mate.. you have created such a wonderful script.

On Tue, 5 May 2020 at 23:31, Aki <notifications@github.com> wrote:

[2020-05-06 04:56] mspgalaxys2lite commented on #30
Looks like hierarchy is properly maintained now. Unable to test it properly
as I am repeatedly getting this: "curl: (6) Could not resolve host: HTTP".

On Wed, 6 May 2020 at 09:10, Aki <notifications@github.com> wrote:

[2020-05-06 05:28] Akianonymus commented on #30
@mspgalaxys2lite can you tell me exact folder structure you have ?? thx

[2020-05-06 08:59] labbots commented on #30
@Akianonymus I have reverted the commit and applied your commit from the fork. @mspgalaxys2lite could you please retest it.

[2020-05-06 11:07] mspgalaxys2lite commented on #30
"folder_to_upload" has one folder inside it namely "folder_1".
"folder_1" has three folders in it namely "folder_11". "folder_12" and
"folder_13".

On Wed, 6 May 2020 at 10:59, Aki <notifications@github.com> wrote:

[2020-05-06 11:15] Akianonymus commented on #30
@mspgalaxys2lite Tried my script ??

It works here..

[2020-05-06 14:18] mspgalaxys2lite commented on #30
@Aki, its working now :-)
Thank you mate.

On Wed, 6 May 2020 at 16:45, Aki <notifications@github.com> wrote:

[2020-05-06 14:24] labbots commented on #30
I am closing this ticket as it is now resolved. Thanks @Akianonymus for the fix and thanks @mspgalaxys2lite for testing it.

[2020-05-06 14:24] #30 closed

[2020-05-06 14:35] Akianonymus commented on #30
@mspgalaxys2lite No problem.

btw, you tagged the wrong person, haha .

[2020-05-06 14:40] labbots commented on #33
Closing the ticket as this is fixed as part of #30

[2020-05-06 14:40] #33 closed

[2020-05-06 15:29] labbots opened #35 "Update install script to install based on releases and not from Master branch"
Current install script installs from master branch. This might not always be stable. So the install script must be updated to install based on github releases. The default behaviour would be to install only stable releases. The update function of the script must also update only based on stable releases.

[2020-05-06 18:27] Akianonymus commented on #35
https://github.com/labbots/google-drive-upload/pull/36

[2020-05-06 19:00] #35 closed

[2020-05-07 05:20] Akianonymus opened #37 "Setup CODACY"
Setup codacy to check the code quality of the repo.

Add codacy badge to readme

https://www.codacy.com

[2020-05-07 05:22] Akianonymus opened #38 "Old documentation on labbots.com"
The link in the readme for more documentation is not updated to the current status of the script.

[2020-05-07 05:24] Akianonymus opened #39 "Setup github actions for Upload test"
Set-up github actions to check for a push or pull request, whether it can upload files or not.

[2020-05-07 08:03] Akianonymus commented on #34
Try and report

https://github.com/Akianonymus/google-drive-upload/blob/fix2/upload.sh

[2020-05-07 11:25] labbots commented on #37
Codacy seams to be a paid product and I will look into some open source alternatives.

[2020-05-07 11:26] labbots commented on #39
I am looking into writing some tests first for the script. I ll look into setting up github actions when the tests are ready.

[2020-05-07 11:32] Akianonymus commented on #37
@labbots Codacy is completely free for open source repositories.

[2020-05-08 04:37] mspgalaxys2lite commented on #34
Fantastic mate!!! It works 😀. Thank you very much.

On Thu, 7 May 2020 at 13:33, Aki <notifications@github.com> wrote:

[2020-05-08 04:57] mspgalaxys2lite opened #43 "Feature Request - Support for sync script"
I place all my day-to-day files in work_directory.
I want all the files and folders moved into this directory to be uploaded to google drive.
Is there a way to check if new files are created in this directory, if so, upload them to google drive.
If some files are deleted from the directory, they should not get deleted on google drive.
It is like syncing with google drive but all the files on googl

[2020-05-08 05:40] Akianonymus commented on #37
https://app.codacy.com/login

[2020-05-08 07:17] Akianonymus commented on #43
@mspgalaxys2lite Surely, a nice idea, although it's totally a new script.

Doing it in upload.sh would just mess it.

On another hand, for script to auto-detect new files, it can be done via a background job, which will run continuously, or will run after a interval of time ( again, a reason not to include in existing script ).

The main thing here is running it as a background process, if running

[2020-05-08 08:25] mspgalaxys2lite commented on #43
@Akianonymus I understand that it is totally a new script.
Was just thinking of a possibility of running a script at system startup, after which whatever the files we push into it gets uploaded. If the system is shutdown or restarted in the middle of uploading process, the uploading session needs to be saved before shutdown and resume the next time the system is started. As you were saying, making

[2020-05-08 08:28] mspgalaxys2lite commented on #43
@Akianonymus Btw, I see that -o option helps in overwriting a file. But is there a way to skip uploading file if it is already exists in drive folder? This can save some bandwidth and avoid creation of multiple copies of same file. I see that a new file is being created in the drive folder if we try uploading the same file again (without using -o).

[2020-05-08 11:54] #34 closed

[2020-05-08 16:47] Akianonymus commented on #43
@mspgalaxys2lite Well, that's totally possible, please create a new issue.

Currently, script checks the the existing file using the name of the file and the folder ID of the folder, where it is present, for overwriting feature.

Also, i can add a size check too, if the file present on gdrive matches with what present on local drive, would be more sensible maybe for skipping files, any thoughts ?

[2020-05-08 16:48] Akianonymus commented on #43
I will try to create a sample script for syncing as soon i get some time.

Drop any more thoughts while we are at it..

[2020-05-09 07:32] mspgalaxys2lite commented on #43
@Aki Well, I am not much into CS programming and more into electronics. I
am using ubuntu since many years and just interested in learning bash
scripting and python. You should be knowing better.
Can the "date of creation" of file of be some use?

On Fri, 8 May 2020 at 22:17, Aki <notifications@github.com> wrote:

[2020-05-09 07:32] mspgalaxys2lite commented on #43
Sure.

On Fri, 8 May 2020 at 22:18, Aki <notifications@github.com> wrote:

[2020-05-09 07:35] mspgalaxys2lite opened #44 "Skip uploading file if it exists"
Is there a way to skip uploading file if it already exists in drive folder?

[2020-05-09 13:20] Akianonymus commented on #44
any suggestions for short flag name ?

-s is already taken or i will restructure -s to this feature and skip-dirs to another flag

[2020-05-09 15:51] mspgalaxys2lite commented on #44
Its your wish.. Ready to take whatever you give :-)

On Sat, 9 May 2020 at 18:50, Aki <notifications@github.com> wrote:

[2020-05-10 04:58] Akianonymus commented on #44
@mspgalaxys2lite Try and report

https://github.com/Akianonymus/google-drive-upload/blob/fix/upload.sh

[2020-05-10 09:16] mspgalaxys2lite commented on #44
@Aki It works 😀

On Sun, 10 May 2020 at 10:28, Aki <notifications@github.com> wrote:

[2020-05-11 08:45] #44 closed

[2020-05-11 08:48] labbots commented on #43
@mspgalaxys2lite @Akianonymus I am closing this ticket as skipping duplicate file was implemented as part of #44 bu @Akianonymus.

[2020-05-11 08:50] mspgalaxys2lite commented on #43
@labbots ok.

On Mon, 11 May 2020 at 14:18, labbots <notifications@github.com> wrote:

[2020-05-11 09:29] Akianonymus commented on #43
@labbots but the main issue of this issue still not resolved, so ...

[2020-05-12 12:08] Akianonymus commented on #43
@mspgalaxys2lite Today got some free time and wrote this, it's surely not completed yet, just barebones, but works kinda.

Download the script: `curl -s -o sync_script https://del.dog/raw/pefuwithir`

Start the sync: `bash sync_script folder_you_want_to_sync`

For killing the background session: `bash sync_script folder_you_were_syncing -k`

Change the gupload command according do your use in line

[2020-05-12 16:33] mspgalaxys2lite commented on #43
@Aki not working 😓. should the sync folder name be same as google drive
folder?

On Tue, 12 May 2020 at 17:38, Aki <notifications@github.com> wrote:

[2020-05-12 17:01] Akianonymus commented on #43
@mspgalaxys2lite Yeah, you are right, you can change it though, see line 40 after -C, replace "$folder" with your folder name on gdrive

I will soon fix this mess :)

[2020-05-12 17:37] mspgalaxys2lite commented on #43
Ok :-)

On Tue, 12 May 2020 at 22:31, Aki <notifications@github.com> wrote:

[2020-05-13 10:12] #38 closed

[2020-05-13 10:13] mspgalaxys2lite commented on #43
@Aki Not working even if the folder name is same as google drive folder.
Also, if there is a space in the name of the folder, script doesn't start.

On Tue, 12 May 2020 at 23:07, S P <msp.galaxys2lite@gmail.com> wrote:

[2020-05-13 10:14] Akianonymus commented on #37
@labbots any update of this ??

I could set it up but i obviously cannot because i don't have write permission to the repo.

Just bumping in case you forgot.

[2020-05-13 10:42] labbots commented on #37
@Akianonymus Its in my list of things to do. I want to also write some bats test with mocking for the script and add it as part of actions. I am bit busy at the moment. I will do it when I get some spare time.

[2020-05-13 16:01] Akianonymus commented on #37
@labbots what's a bats test ? 🤔

[2020-05-13 16:30] Akianonymus commented on #39
@labbots Beside the test for uploading, i was talking about https://github.com/luizm/action-sh-checker test.

Just found this GitHub actions today, pretty cool.

what do you think ? I can make a pr adding support for this.

[2020-05-13 17:23] labbots commented on #39
Seams like a good option @Akianonymus it would be great if you could add the actions.yml for this. I also tried using sonarcloud but it doesnt seam to have bash support. I will try codacy sometime today.

[2020-05-13 18:55] labbots commented on #37
Codacy is now setup for the repo @Akianonymus

[2020-05-13 22:12] Akianonymus commented on #37
![Screenshot_20200514-033958](https://user-images.githubusercontent.com/32216346/81871100-c91c6080-9594-11ea-8270-4f93e3b5f310.png)

Make sure you disable that code pattern from codacy, otherwise brings a lot of false positives.

https://github.com/remarkjs/remark-lint/issues/78

[2020-05-14 00:18] labbots commented on #37
@Akianonymus I have removed the quality pattern for the markdown as suggested but there are still some failures. Hope you could take a look into those too.

[2020-05-14 06:10] Akianonymus commented on #37
Can you reset the repo to this commit

https://github.com/labbots/google-drive-upload/commit/74cabb64cbb4d7479d527f5dc387cdd4dc621d0b

I will make pull request to fix those warnings properly and some other stuff.

Also, go to codacy settings, enable as in the screenshot
enable api hook too, follow the instructions

![Screenshot_20200514-113833](https://user-images.githubusercontent.com/32216346/81

[2020-05-14 06:39] Akianonymus commented on #37
After merging my pr, go to codacy code pattern, and tap on configuration file so it will use the .remarkrc in repository.

[2020-05-14 10:08] labbots commented on #39
@Akianonymus after implementing codacy check. I dont think its necessary to have github actions for PR check. Codacy seams to do PR lint using shellcheck. I will consider setting up github actions once some unit tests are written. For now I believe it is not necessary to set up any actions.

[2020-05-14 10:18] Akianonymus commented on #39
Yeah, i agree.

[2020-05-14 10:44] labbots commented on #37
@Akianonymus I am closing this ticket as it is now complete.

[2020-05-14 10:44] #37 closed

[2020-05-14 10:45] labbots commented on #39
I am closing this ticket as it is not required at the moment @Akianonymus

[2020-05-14 10:45] #39 closed

[2020-05-14 10:47] labbots opened #51 "Implement Bats test for the script with mocks"
Create unit tests for upload and google-oauth2 bash script. The tests must mock curl requests to google drive API so that no real google account is required to run the tests.

[2020-05-14 11:03] Akianonymus commented on #51
@labbots So we are going to check if the api is working ?? I don't understand how is that fair for a test, it's more of a google drive api test than upload test. Again, i didn't fully understood your idea.

I thought the purpose of a test script is to test the functionality of the script, which here is uploading files to google drive.

Obviously, we can use credentials safely using github secrets,

[2020-05-14 12:05] labbots commented on #51
@Akianonymus I was intending to have unit tests rather than integration tests. The purpose of the test is to check the functionality of the functions within the script and not to test external service. In this case we know the output of the google drive API are standard and there is no necessity to actually make calls to google drive API. The response from the API could be mocked for various scena

[2020-05-14 12:48] Akianonymus commented on #51
@labbots Ok, understood some of it.

Question, how do we exactly mock it ? do we parse the errors messages, i mean without credentials, it won't tell anything except basic google errors ?

[2020-05-14 13:19] labbots commented on #51
I am not exactly sure how mocking works with bats tests. But usually in other programming languages, you define the output for a method based on the provided input. In our case, we need to mock curl request based on different parameter passed on the curl request and test the functionality. I need to do further research on how this could be achieved with unit tests in bash script.

[2020-05-15 12:42] Akianonymus commented on #37
Just found out some issues related to codacy, it actually doesn't check shell scripts properly.

We need to enable the all the code patterns manually from the code patterns, which is, pretty much a mess, there are like 200+ shellcheck rules available and obviously we want all of them to trigger.

So, reopening this so you could enable all the code patterns, lot of work though.

Or we could abandon

[2020-05-15 15:36] labbots commented on #37
@Akianonymus I have enabled all the code patterns for shell check in Codacy now

[2020-05-19 03:56] Akianonymus commented on #43
@labbots can you open this ? and change title to "Support for sync script"

I almost forgot about this.

[2020-05-19 13:12] labbots commented on #43
@Akianonymus I am reopening the issue as requested.

[2020-05-21 07:07] capriciousduck opened #56 "Authentication scope error"
I get the following error:

`Workspace Folder: Insufficient Permission: Request had insufficient authentication scopes`

[2020-05-21 08:23] silviuvulcan opened #57 "ACCES_TOKEN and REFRESH_TOKEN are not written to custom configuration file"
In case a custom configuration file is used for the first time the ACCES_TOKEN and REFRESH_TOKEN are still written to `~/.googledrive.conf` instead of the file specified with `--config`

[2020-05-21 09:14] labbots commented on #57
@silviuvulcan The idea behind `--config` option was to allow override of default config stored in `.googledrive.conf` file. In some specific use case, the user might want to use different config file for upload. This option is not for changing the default config filename.

[2020-05-21 09:19] labbots commented on #56
@capriciousduck could you run the script with debug option and provide the output. This would help us investigate the issue.

[2020-05-21 11:44] capriciousduck commented on #56
Here is a debug info....

`root@gce:~# gupload The.Cloverfield.Paradox.2018.1080p.BluRay.x265-RARBG.mp4 -D
+ checkInternet
+ printCenter justify 'Checking Internet connection..' -
+ [[ 3 = 3 ]]
+ printf '%s\n' 'Checking Internet connection..'
Checking Internet connection..
+ isTerminal
+ [[ -t 1 ]]
+ return 0
++ sh -ic 'exec 3>&1 2>/dev/null; { curl --compressed -Is google.com 1>&3; kill 0; } | {

[2020-05-21 11:46] capriciousduck commented on #56
Here is the debug info

root@gce:~# gupload The.Cloverfield.Paradox.2018.1080p.BluRay.x265-RARBG.mp4 -D
+ checkInternet
+ printCenter justify 'Checking Internet connection..' -
+ [[ 3 = 3 ]]
+ printf '%s\n' 'Checking Internet connection..'
Checking Internet connection..
+ isTerminal
+ [[ -t 1 ]]
+ return 0
++ sh -ic 'exec 3>&1 2>/dev/null; { curl --compressed -Is google.com 1>&3; kill 0; } | { sle

[2020-05-21 11:48] capriciousduck commented on #56
Here is a pastebin text to help you read the info, for your convenience.

https://pastebin.com/Gzjapyc3

[2020-05-21 12:51] Akianonymus commented on #56
Please delete your comments, you are exposing your credentials

[2020-05-21 13:31] Akianonymus commented on #56
Also, the pastebin link

Seems like it went wrong when you were configuring credentials, try configuring again because it works here

[2020-05-21 13:32] capriciousduck commented on #56
Alright.

[2020-05-21 13:42] Akianonymus commented on #57
Although he makes sense, if i use a custom config, it should update the custom config, rather than existing one

[2020-05-21 13:57] mspgalaxys2lite commented on #43
@Aki It looks like "inoticoming" daemon can be used for triggering actions
when changes are made to a directory.

On Tue, 19 May 2020 at 18:43, labbots <notifications@github.com> wrote:

[2020-05-21 14:12] labbots commented on #57
@Akianonymus probably that could be a new feature but its not the existing behaviour of the script. Probably we can add new option for the feature.

[2020-05-21 14:36] Akianonymus commented on #57
https://github.com/Akianonymus/google-drive-upload/blob/fix2/upload.sh

Try this script

https://github.com/Akianonymus/google-drive-upload/blob/fix2/upload.sh

[2020-05-21 15:05] Akianonymus commented on #57
https://github.com/labbots/google-drive-upload/pull/58

this will do it

[2020-05-21 15:12] Akianonymus commented on #43
@mspgalaxys2lite I will look into soon, been busy :(

Also, i don't want to use external programs, but will see what we can do.

A loop is fine, but obviously takes some cpu resources, if something takes less cpu, then only will think about using it.

Again, this is all after i complete the script.

[2020-05-21 15:19] Akianonymus commented on #56
@capriciousduck Please update and try too

 bash <(curl -Ls https://github.com/Akianonymus/google-drive-upload/raw/fix/install.sh) -r Akianonymus/google-drive-upload -B fix

[2020-05-21 15:27] Akianonymus commented on #51
I propose to use something like this

https://github.com/dylanaraps/pure-bash-bible/blob/master/test.sh

[2020-05-21 16:20] #57 closed

[2020-05-21 17:32] mspgalaxys2lite commented on #43
@Aki ok, np.

On Thu, 21 May 2020 at 20:43, Aki <notifications@github.com> wrote:

[2020-05-22 06:27] juraganfilmmovie opened #59 "can gupload download files from gogole drive ?"
halo , can gupload download file from google drive also ? i dont see any instruction on how to download files.

[2020-05-22 08:29] labbots commented on #59
@juraganfilmmovie This script is just to upload files to google drive. The script does not have option to download files from google drive.

[2020-05-22 09:54] labbots commented on #59
@juraganfilmmovie you could use https://github.com/Akianonymus/gdrive-downloader which is specific to downloading files from google drive.

[2020-05-22 10:11] juraganfilmmovie commented on #59
@labbots ok thanks bro i'll give it a try

[2020-05-22 10:40] #59 closed

[2020-05-22 13:33] Akianonymus commented on #43
@mspgalaxys2lite Try and report.

https://github.com/Akianonymus/google-drive-upload/blob/sync/sync.sh

Usage:

`bash sync.sh local_folder -d gdrive_folder`

To kill a background job

`bash sync.sh local_folder -d gdrive_folder -k`

To see background jobs

`bash sync.sh --tasks` ( or use -t )

Full Usage from script:

[code]

Make sure you have gupload installed.

[2020-05-22 14:52] Akianonymus commented on #43
Also, on another note, after closing the terminal, it will still run in background.

[2020-05-25 12:33] labbots commented on #56
@capriciousduck could you please confirm whether this issue is fixed?

[2020-05-25 12:50] capriciousduck commented on #56
Oops. Sorry for not reporting. I completely uninstalled the script and removed the .conf files and re-installed the script. Now it works fine. Thanks.

[2020-05-25 12:50] capriciousduck commented on #56
Closing!

[2020-05-25 12:50] #56 closed

[2020-05-25 15:41] labbots commented on #43
@mspgalaxys2lite have you tested the sync script by @Akianonymus? Can this issue be closed?

[2020-05-25 19:22] Akianonymus commented on #43
@labbots Whether it's working or not, keep this issue open.

I will make a pr as soon i get some time

Major improvements to scripts, ability to manage sync jobs, etc

[2020-06-01 08:43] capriciousduck opened #61 "Feature request- HTTP links"
I download many files and movies into my server using wget and upload them to my drive using upload. Is it possible for you to implement an auto-upload of files downloaded from HTTP links?

Like `gupload https://speed.hetzner.de/1GB.bin` should download the bin file and upload it automatically instead of I manually uploading the file using `gupload 1GB.bin`

[2020-06-01 10:13] labbots commented on #61
@capriciousduck the feature you requested is not part of the scope of the script. You could have a separate script that downloads from source and uploads to google drive using the gupload script.

[2020-06-01 16:04] Akianonymus commented on #43
https://github.com/labbots/google-drive-upload/pull/62

[2020-06-04 11:11] mspgalaxys2lite commented on #43
sorry...was busy all these days.. will try and inform as early as possible.

On Fri, 22 May 2020 at 19:03, Aki <notifications@github.com> wrote:

[2020-06-04 11:31] labbots commented on #61
@capriciousduck I am closing this issue as its not within the scope of script.

[2020-06-04 11:31] #61 closed

[2020-06-05 04:04] Akianonymus commented on #43
@mspgalaxys2lite folders with space in it, it works.

Next, why would you move files in gdrive_folder ? 🤔 it is the remote gdrive folder, doesn't make sense.

Next, please read the readme properly and try to explain your issue, i am not able to understand.

About notifications, will see, never done it.

Last, do below command and try whatever you were trying to, i pushed some other fixes..

[code]

[2020-06-05 04:07] Akianonymus commented on #43
Also, @mspgalaxy2lite, if you still found any new issue, create a new issue, not continue here.

@labbots you can close this

[2020-06-05 09:06] labbots commented on #43
@mspgalaxys2lite I am closing this issue as per @Akianonymus suggestion. Could you please open a new issue if you have any.

[2020-06-05 09:06] #43 closed

[2020-06-08 15:23] capriciousduck opened #64 "Update error"
I get the following error while trying to update the script.

`gupload -u
63: --: Unknown option
Try 63 -h/--help for more information.`

[2020-06-08 16:33] Bautista-Baiocchi-lora opened #65 "Google API credentials not being saved"
Hello,
I have been using the script to upload files from my ubuntu 18.4 server. Everything worked just fine for the first few days. Now every time I run the script I need to provide my credentials (Client ID, secret, etc).. How can i make these settings be saved as default as before?

[2020-06-08 19:24] Bautista-Baiocchi-lora commented on #65
I've concluded that the credentials are being correctly stored in .googledriver.conf...
The error is the following:

/home/bautista/.googledrive.conf: line 6: unexpected EOF while looking for matching `"'
/home/bautista/.googledrive.conf: line 7: syntax error: unexpected end of file

[2020-06-08 19:29] Bautista-Baiocchi-lora commented on #65
I was able to fix the error by manually adding a " to the beginning of the second line in .googledrive.conf

Now I get the following error when finishing an upload:
curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)

[2020-06-08 20:58] labbots commented on #65
@Akianonymus could you please look into this issue?

[2020-06-09 01:53] Akianonymus commented on #64
[code]
Try this, afterwards, -u flag should as it is meant to be.

[2020-06-09 02:33] Akianonymus commented on #64
Will be fixed in after next release

[2020-06-09 03:12] Akianonymus commented on #65
I am not able to reproduce the issue, as said in first comment.

[2020-06-09 16:19] Bautista-Baiocchi-lora commented on #65
I am not sure how to recreate the first but I've commented the fix above.

As for the curl issue, I think it has to do with Content-Length. It seems to happen on larger files (10MB +) and not on smaller files (~3MB)

Let me know how I can help.

[2020-06-09 16:21] capriciousduck commented on #64
I installed the updated script on another server. Still, I get the same error when I execute the update command.

[2020-06-09 16:30] Bautista-Baiocchi-lora opened #67 "Curl Error on finalizing upload"
`gupload -o -D myFile.txt gDriveFolder` Produces the following stacktrace.

[code]

I am getting this error when uploading a file to my google drive. The error is not consistent given that it doesn't always occur (50% of the time). I think the error is rooted in Content-Length of the curl request. It seems to happen on larger files (10MB +) and not on smaller files (~3MB)

[2020-06-09 16:32] Bautista-Baiocchi-lora commented on #65
I am closing this issue and opening a new one to address the Curl error.

[2020-06-09 16:32] #65 closed

[2020-06-10 02:29] Akianonymus commented on #64
@labbots you need to make a new release, then only the fix will work

[2020-06-10 03:09] Akianonymus commented on #67
@Bautista-Baiocchi-lora I am actually not able to reproduce the issue, i tried uploading a large file, 4 gb some small files 30 mb +, multiple times( about 10 times ), but never got the error.

Can you upload your file and tell the curl version ( curl -V ).

[2020-06-10 06:47] capriciousduck commented on #64
Sorry, what do you mean by a new release? You mean I need to freshly install on a machine?

[2020-06-10 08:45] labbots commented on #64
@Akianonymus @capriciousduck I have created a new release v2.6.1.

[2020-06-10 08:55] capriciousduck commented on #64
How do I uninstall the script?. The uninstall flag("gupload -U) also doesn't work.

[2020-06-10 09:19] labbots commented on #64
@capriciousduck you could install the latest release by running the following command
`bash <(curl --compressed -s https://raw.githubusercontent.com/labbots/google-drive-upload/master/install.sh)`

[2020-06-10 11:43] Akianonymus commented on #64
@capriciousduck Works here 🤔, strange.

[2020-06-10 23:27] Bautista-Baiocchi-lora commented on #67
@Akianonymus
Here is the exact file: https://drive.google.com/file/d/1949LFiM5G-v00nTssaPSr3t5VE4PSYFv/view?usp=sharing

curl -V
[code]

Sometimes it works and sometimes it doesn't. Very inconsistent.
Another note: I have the file upload scheduled as a crontab task (Twice a day). Could this be a factor?

[2020-06-11 01:27] Akianonymus commented on #67
@Bautista-Baiocchi-lora ok, i tried the file, uploads fine, i have the same curl version and even same platform ( x86 ).

A crontab should be fine though.

are you on latest version ? 🤔 If not please update it, also give the exact command you are using and crontab details.

btw, you can also use sync.sh to sync a folder between specified intervals, in background.

[2020-06-11 04:53] Akianonymus opened #68 "[Feature] Uploading gdrive files( urls ) without downloading."
A file uploaded on gdrive, which is accessible i.e either public or shared with the authenticated account, can be copied to any/authenticated account without actually downloading the file.

This can be done with api, using copy parameter.

Folders cannot be achieved directly so need to loop over file ids one by one.

Similar projects: FolderClone, Autorclone, etc.

[2020-06-11 09:32] labbots commented on #68
@Akianonymus are you suggesting this only for google drive documents that are shared or files from any links?

[2020-06-11 10:03] Akianonymus commented on #68
@labbots Just google drive documents, obviously it won't work on external links without downloading.

[2020-06-12 12:59] Bautista-Baiocchi-lora commented on #67
results from gupload --info:
[code]

Crontab
[code]

I am aware of sync.sh but I only want to back up certain files from my local folder to a drive folder that contains more than just those files. Sync doesn't allow me to specify files... I suppose I could work around that but the gupload command still doesn't seem to work.

@Akianonymus

[2020-06-13 02:57] Akianonymus commented on #67
@Bautista-Baiocchi-lora seems fine, forgot background jobs for now, does it successfully upload when done manually ?

[2020-06-13 03:16] Akianonymus commented on #67
@Bautista-Baiocchi-lora Seems fine.

I actually don't have a single clue whats going on, here it all works fine.

I have been running a sync job since 2 days and it uploads fine.

Do this only occurs on sync job or all normal uploads too ?

[2020-06-13 15:07] Bautista-Baiocchi-lora commented on #67
Both gupload and gsync fail on larger files. I will try to diagnose the problem further on my side.

@Akianonymus

[2020-06-14 10:01] Akianonymus commented on #67
@Bautista-Baiocchi-lora I hope someone else can reproduce the issue, so maybe we can have more logs.

btw, can you attach a full log when uploading a big file when it fails, use -D flag

seems like it's happening to you even on manual upload, shouldn't be hard to obtain a log.

[2020-06-15 10:24] #68 closed

[2020-06-18 13:13] Bautista-Baiocchi-lora commented on #67
After further testing i've concluded that the upload error is caused by my scrapers. I have multiple simple python scrapers (a simple http request and parse) running every minute on the same machine. Uploading a file of size 10MB+ fails unless the scrapers are turned off. Attempting to upload a file of ANY size works like a charm as long as NO scrapers are running.

How do you recommend I go about

[2020-06-22 09:48] Akianonymus commented on #67
@Bautista-Baiocchi-lora

Given the information you gave, seems like a bandwidth issue, maybe my script is not able to use the internet properly creating such problems.

Also, give me the log i asked before, would be helpful.

[2020-06-23 06:22] capriciousduck opened #70 "Help"
Hi, I am using this app to upload my files to google drive. Is there an app to upload to google photos from the command line?

[2020-06-23 09:24] labbots commented on #70
@capriciousduck i am currently working on Google photos upload script as different project. It will be available soon.

[2020-06-23 09:37] capriciousduck commented on #70
Great!. Let me know, if possible, when it is released.

[2020-06-24 04:05] norbertschuler opened #72 "Bash support for MacOS"
The installation does not support MacOS (10.15.5) as the bash version available is not supported:

[code]

What can I do to make it work on MacOS?

[2020-06-24 04:07] Akianonymus commented on #72
It cannot be updated ? 🤔

[2020-06-24 04:32] norbertschuler commented on #72
I am able to install a newer bash with Homebrew and change to the new shell if available:

[code]

But then I have a new issues on MacOS:
[code]
Background:
I maybe will continue to try to make it work. If I succeed, I will let you know. I wanted to use this tool for our GitHub Action (https://github.com/Plant-for-the-Planet-org/treecounter-app/pull/2485) to upload files to Google Drive as https:/

[2020-06-24 05:04] norbertschuler commented on #72
Of course I could start the script from the folder where `util.sh` is located, but otherwise it does not seem to work on MacOS:
[code]

[2020-06-24 05:41] Akianonymus commented on #72
@norbertschuler
Seems like installation got messed up.

In install script, it adds the utils.sh file path at the top of the script, which enables it to use the file from anywhere.

Can you give me a debug trace when installing from scratch, just run the installation command with -D flag

use
[code]

Upload the log file and send.

[2020-06-24 05:43] Akianonymus commented on #72
by the way, you don't need to change default shell to bash, bash is just needed as a binary, just to execute the script.

Default shell can be anything else.

[2020-06-24 05:51] norbertschuler commented on #72
This is my log file from the installation: [debug.log](https://github.com/labbots/google-drive-upload/files/4823426/debug.log)

[2020-06-24 05:59] Akianonymus commented on #64
This should be closed as the issue is fixed.

[2020-06-24 06:25] Akianonymus commented on #72
@norbertschuler Aah, so this was a sed problem.

I have included the fix in my [pull request](https://github.com/labbots/google-drive-upload/pull/71), it should work.

To test now

[code]

untill my pr is merged and a new release is created.

[2020-06-24 07:28] norbertschuler commented on #72
Thank you. On my local system I could use this, but still get the same error as before, e.g.:
[code]

I tried to use it on the MacOS machine of GitHub and the installer has problems with usage of `sed` in the old version of the `install.sh` script:
[code]
and also in the new version of the `install.sh` script (as MacOS has a slightly different version of `sed`):
[code]

Also using the new `install

[2020-06-24 08:34] Akianonymus commented on #72
@norbertschuler I gave you the wrong command, link was still of this repo.

bash <(curl --compressed -# https://raw.githubusercontent.com/Akianonymus/google-drive-upload/fix/install.sh) -r Akianonymus/google-drive-upload -B fix

try this, most probably a sed bug will arise

will try fix that if that's the case

anyway, on another note, does the upload script works fine ?? it uses sed, just basic f

[2020-06-24 09:30] #64 closed

[2020-06-24 09:31] capriciousduck opened #73 "gsync"
How do I install gsync for background sync?

[2020-06-24 09:35] Akianonymus commented on #72
Pushed the fix, doesn't used sed there anymore.

Should be fixed.

use the command in above comment to check.

[2020-06-24 09:36] Akianonymus commented on #73
@capriciousduck It is installed automatically when gupload is installed.

try `gsync --help`

[2020-06-24 10:11] norbertschuler commented on #72
Thank you. Locally it works well for me. Using it with GitHub Actions is different. Currently GitHub is blocking itself not allowing the curl command to fetch the latest SHA for the script to work correctly (took me some time to understand this was the reason why the `gupload` and `gsync` scripts could not be downloaded afterwards):
[code]
If this works again I would be able to check if using this

[2020-06-24 10:12] #72 closed

[2020-06-24 10:19] Akianonymus commented on #72
@norbertschuler Ooh, well, that can be fixed, to fetch the latest sha.

Also, refresh token never expires

and access token is automatically updated if it's expired, it's implemented in the script.

So, yes, it can be easily used in ci pipelines given i fix the sha fetching method.

[2020-06-24 10:24] Akianonymus commented on #72
Well, funny fact it, previously it was not using api to fetch the sha, so avoiding that issue

I did this as obviously, api is a cleaner way, just have to revert now.

[2020-06-24 10:40] capriciousduck commented on #73
I want to upload to the root folder. Should I use "root" as the folder name?

[2020-06-24 10:52] norbertschuler commented on #72
Well, if you do I will continue trying to use it :-)

[2020-06-24 10:55] Akianonymus commented on #72
@norbertschuler Just did :)

https://github.com/labbots/google-drive-upload/commit/6c1ece2df9c29d8674193e45a1bb58edcf080fd5

Check in github actions, if it works.

[2020-06-24 11:40] Akianonymus commented on #73
@capriciousduck Currently not possible, i have added a fix in my pull request.

[2020-06-24 11:55] capriciousduck commented on #73
Can I use any name as the folder name or should I use a name which is in my google drive?

[2020-06-24 12:04] Akianonymus commented on #73
Both are good, whatever you want.

[2020-06-24 15:12] capriciousduck commented on #73
How do I run the sync on startup? Using rc.local?

[2020-06-24 15:55] capriciousduck commented on #73
Will the files be deleted after syncing the file?

[2020-06-25 03:27] Akianonymus commented on #73
@capriciousduck No, script just uploads it, nothing else.

[2020-06-25 03:27] Akianonymus commented on #73
@capriciousduck Will try to add soon

[2020-06-25 04:29] Akianonymus commented on #73
@capriciousduck Can you try this and report ??

Guide: https://github.com/Akianonymus/google-drive-upload/tree/fix#background-sync-jobs

systemd file: https://github.com/Akianonymus/google-drive-upload/raw/fix/gsync.service

[2020-06-25 09:54] capriciousduck commented on #70
I have seen other google photos command-line apps, and they say that it is not possible to upload to the "High Quality" tier using the API. Do you have any workaround for that?

[2020-06-25 10:41] labbots commented on #70
@capriciousduck  google photo upload is not part of this project. It is still in progess and I havent tested what you are asking. I will let you know when the script is available. For now I am closing this ticket as it is not in the scope of this project.

[2020-06-25 10:41] #70 closed

[2020-06-25 13:56] Akianonymus commented on #73
@capriciousduck did you test ? 🤔

[2020-06-25 14:19] capriciousduck commented on #73
Actually, I forgot. Sorry. I'll try right now and report you.

[2020-06-25 14:53] capriciousduck commented on #73
Unable to boot up. It's failing.

`gsync.service - google-drive-upload synchronisation service
   Loaded: loaded (/etc/systemd/system/gsync.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Thu 2020-06-25 14:40:57 UTC; 1min 0s ago
  Process: 5573 ExecStart=/root/.google-drive-upload/bin/gsync /mnt/systemdisk/sync (code=exited, status=1/FAILURE)
 Main PID: 5573 (

[2020-06-25 14:54] capriciousduck commented on #73
You're doing a great job, Aki. And I'm from India too O:)

[2020-06-25 17:31] Akianonymus commented on #73
@capriciousduck try below in systemd file

[code]

[2020-06-26 08:53] capriciousduck commented on #73
Nope. Still not working.

   Loaded: loaded (/etc/systemd/system/gsync.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Fri 2020-06-26 08:52:19 UTC; 16s ago
  Process: 7318 ExecStart=/usr/bin/env bash /root/.google-drive-upload/bin/gsync /mnt/systemdisk/sync (code=exited, status=1/FAILURE)
 Main PID: 7318 (code=exited, status=1/FAILURE)

Jun 26 08:52:19 zeus sy

[2020-06-26 10:31] Akianonymus commented on #73
@capriciousduck

add this in systemd file

[code]

then run the below commands

[code]

try to start the systemd service, send logs

[2020-06-26 10:53] capriciousduck opened #75 "Multiple Accounts"
Is it possible to upload files to multiple accounts? I have two google drive accounts. One is my personal 100Gb and the other is a team drive.

What I mean is having to set up multiple account ID's and should be able to upload files to whatever account I want to.

[2020-06-26 11:59] capriciousduck commented on #73
`● gsync.service - google-drive-upload synchronisation service
   Loaded: loaded (/etc/systemd/system/gsync.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Fri 2020-06-26 11:56:12 UTC; 6s ago
  Process: 9371 ExecStart=/mnt/systemdisk/sync/startgsync.sh (code=exited, status=203/EXEC)
 Main PID: 9371 (code=exited, status=203/EXEC)

Jun 26 11:56:12 zeus systemd[1

[2020-06-26 12:00] capriciousduck commented on #73
Given executable permissions and tried to run, then I got this.

`root@zeus:~# systemctl status gsync
● gsync.service - google-drive-upload synchronisation service
   Loaded: error (Reason: Exec format error)
   Active: failed (Result: exit-code) since Fri 2020-06-26 11:57:30 UTC; 17s ago
 Main PID: 9573 (code=exited, status=1/FAILURE)

Jun 26 11:57:30 zeus systemd[1]: Started google-drive-upload

[2020-06-26 12:01] capriciousduck commented on #73
Fixed some things and again tried to run. Then I got this.

`gsync.service - google-drive-upload synchronisation service
   Loaded: error (Reason: Exec format error)
   Active: failed (Result: exit-code) since Fri 2020-06-26 11:57:30 UTC; 50s ago
 Main PID: 9573 (code=exited, status=1/FAILURE)

Jun 26 11:57:30 zeus systemd[1]: Started google-drive-upload synchronisation service.
Jun 26 11:57:30 ze

[2020-06-26 12:02] capriciousduck commented on #73
It appears to me that startsync.sh is not able to detect the installed upload. In the first line of the above log says "gupload is not installed." when I do have gupload installed.

[2020-06-26 15:03] Akianonymus commented on #73
@capriciousduck try adding `source /root/.bashrc` at the second line of startgsync.sh script

[2020-06-26 15:42] capriciousduck commented on #73
Still not able to start.

`gsync.service - google-drive-upload synchronisation service
   Loaded: loaded (/etc/systemd/system/gsync.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Fri 2020-06-26 15:41:31 UTC; 4s ago
  Process: 43304 ExecStart=/mnt/systemdisk/sync/startgsync.sh (code=exited, status=1/FAILURE)
 Main PID: 43304 (code=exited, status=1/FAILURE)

Ju

[2020-06-26 16:48] Akianonymus commented on #73
@capriciousduck do this command and try running the service again

do this command in normal terminal

[code]

I currently don't have access to a proper linux environment, so can't test myself.

[2020-06-26 17:17] capriciousduck commented on #73
I've just switched my laptop off. I'll try in the morning. If you don't mind I can provide you a linux server. Either on digitalocean or webdock. Let me know what you think.

[2020-06-26 18:51] labbots commented on #75
@capriciousduck You could have multiple configs created and use `-z | --config` option to pass different configurations to connect to multiple accounts.

[2020-06-27 14:23] capriciousduck commented on #73
It is working now!!!

`root@zeus:~# systemctl status gsync
● gsync.service - google-drive-upload synchronisation service
   Loaded: loaded (/etc/systemd/system/gsync.service; enabled; vendor preset: enabled)
   Active: active (running) since Sat 2020-06-27 14:23:00 UTC; 13s ago
 Main PID: 132255 (bash)
    Tasks: 4 (limit: 464185)
   CGroup: /system.slice/gsync.service
           ├─132255 bash /mn

[2020-06-27 15:17] Akianonymus commented on #73
@capriciousduck Aah, thx for consideration, although i got my server back.

Will ping you in future if i need :)

[2020-06-27 15:18] Akianonymus commented on #73
@capriciousduck I have made a new pr, including the fixes and automated script generation for systemd services.

Read https://github.com/Akianonymus/google-drive-upload/tree/fix#background-sync-jobs

[2020-06-27 15:56] capriciousduck commented on #73
Alright!

[2020-06-27 15:57] capriciousduck commented on #73
Ok. I'll test. I guess I'll re-install the script freshly :)

[2020-06-28 10:26] capriciousduck commented on #73
I've just tested the fix now. And it is working.

[2020-06-30 10:01] labbots commented on #73
@capriciousduck @Akianonymus I am closing this ticket as the issue is resolved now.

[2020-06-30 10:01] #73 closed

[2020-07-01 09:54] capriciousduck opened #77 "Strange Error"
I am getting the following error:

`/dev/fd/63: line 1: 400:: command not found`

[2020-07-01 10:31] norbertschuler commented on #77
I once got that error as I tried to execute `gsync` or `gupload` which where not downloaded correctly from the `install.sh` script. The files instead contained some error strings.

[2020-07-01 11:09] Akianonymus commented on #77
You are getting this while updating ? use -D flag and provide logs

[2020-07-01 11:50] Akianonymus commented on #77
@norbertschuler Logs would be helpful

[2020-07-01 11:50] capriciousduck commented on #77
Here is the debug:

`root@zeus:~# gupload --debug -u
+ _update
+ declare job=update
+ [[ update =~ uninstall ]]
+ :
+ _print_center justify 'Fetching update script..' -
+ [[ 3 = 3 ]]
+ printf '%s\n' 'Fetching update script..'
Fetching update script..
+ [[ -f /root/.google-drive-upload/google-drive-upload.info ]]
+ source /root/.google-drive-upload/google-drive-upload.info
++ REPO=labbots/google-dr

[2020-07-01 12:32] norbertschuler commented on #77
Sorry, my problem got already fixed with the latest release v2.7 - I just thought mentioning this could be helpful.

[2020-07-01 15:00] Akianonymus commented on #77
Should be ok after https://github.com/labbots/google-drive-upload/pull/78 is merged and a new release is created.

Although, you have to run the original command to update, just once, after a new release is created, which is..

[code]

[2020-07-01 16:05] #77 closed

[2020-07-03 08:22] capriciousduck opened #80 "Remote file has no length"
I get the following error when try to install the script:

`Warning: Remote filename has no length!
###################################################################################################################################### 100.0%
=======================================================[ Cannot download the script. ]=======================================================`

[2020-07-03 10:41] Akianonymus commented on #80
@capriciousduck fixed the issue, will be fixed after new release

[2020-07-03 12:01] #80 closed

[2020-07-04 04:12] norbertschuler opened #82 "Error downloading util.sh in the latest version on MacOS"
I am currently using release 2.7 by using `bash <(curl --compressed -s https://raw.githubusercontent.com/labbots/google-drive-upload/master/install.sh -R v2.7`  working well. I tested downloading the latest version with `bash <(curl --compressed -s https://raw.githubusercontent.com/labbots/google-drive-upload/master/install.sh)`, but then the file `.google-drive-upload/bin/util.sh` just contained

[2020-07-04 06:53] Akianonymus commented on #82
yeah, waiting for labbots

https://github.com/labbots/google-drive-upload/pull/81#issuecomment-653527116

or i will eventually make a new pull request

github is acting weird these days

[2020-07-04 10:57] Akianonymus commented on #82
https://github.com/labbots/google-drive-upload/pull/83

did the fixes

and added steps in ci to prevent this type of mistakes in future

[2020-07-04 11:02] labbots commented on #82
@Akianonymus @norbertschuler The PR is merged and I have created a new release v2.7.3

[2020-07-04 15:27] norbertschuler commented on #82
v2.7.3 works well for me

[2020-07-04 15:27] #82 closed

[2020-07-06 14:24] #75 closed

[2020-07-07 14:38] icy opened #84 "automatically retry on failed files"
Hi there,

is there any way for the script to retry automatically on failed files? Now I have to run the script again and again, which is not very convenient on remote session.

Thanks

[2020-07-07 17:28] Akianonymus commented on #84
@icy use gsync

`gsync foldername some_arguments --foreground`

as it's a sync job it will repeat for failed files, and with --foreground flag, it will run foreground like as gupload command.

[2020-07-09 10:44] labbots opened #85 "Investigate and add google upload script to homebrew formula"
Identify whether the google drive upload script could be added as homebrew formula. If it is feasible then make necessary changes to add gupload script to mac and linux homebrew formula.
This makes it easy for users to setup and use the script.

[2020-07-09 10:48] labbots commented on #67
@Bautista-Baiocchi-lora do you still have this problem? If so could you please provide the logs requested by @Akianonymus which would aid us in further investigation on it.

[2020-07-11 01:26] jackly20 opened #86 "issue access_token"
I have created refesh_token and using command `./google-oauth2.sh refresh update` for creating access_token and it has updated content key ACCESS_TOKEN in file ~/.googledrive.conf but look like it doesn't work,  time expired of access_token still is initial access_token, not access_token I have created above. Please check to help me issue

[2020-07-11 11:43] Akianonymus commented on #86
Fixed in https://github.com/labbots/google-drive-upload/pull/87

[2020-07-11 11:43] Akianonymus commented on #84
Implemented retry for file uploads

https://github.com/labbots/google-drive-upload/pull/87

# Todo: Normal and parallel folder uploading

[2020-07-11 11:50] Akianonymus commented on #85
@labbots You mean add a package in homebrew database ? so we can install it by homebrew command ?

[2020-07-11 16:12] labbots commented on #85
Yes @Akianonymus you are right

[2020-07-13 14:14] norbertschuler opened #88 "Refresh token not stored in .googledrive.conf in version 2.7.3?"
I am currently using version 2.7 which stores the REFRESH_TOKEN in the file `.googledrive.conf`. I tested to change to the new version 2.7.3, but this version does not seem to store the REFRESH_TOKEN in `.googledrive.conf` and instead ask me for a refresh token on every run of `gupload`. I did a completely new install of version 2.7.3 and not an update.

Is that a wanted behavior or a bug - I need

[2020-07-13 15:14] #84 closed

[2020-07-13 15:15] labbots commented on #88
@norbertschuler could you please try the new 2.7.4 release

[2020-07-13 15:16] labbots commented on #86
@jackly20  could you please try the new 2.7.4 release

[2020-07-13 15:16] labbots commented on #84
@icy This option is now available with 2.7.4 release

[2020-07-13 16:39] Akianonymus commented on #88
This is indeed a valid bug i missed because I don't usually do new setups.

Pushed the fix, pr here

https://github.com/labbots/google-drive-upload/pull/89

[2020-07-13 16:47] Akianonymus commented on #85
This is a good idea.

I am currently working on making the script posix compatible, it's almost complete.

Although, wanted some suggestions.

Should i keep the bash version of the script along with posix, making it two scripts, and thus two to maintain, won't be difficult enough as most changes are similar, or just one posix script.

install script will be one, posix compatible and will install b

[2020-07-13 17:38] labbots commented on #85
I am concerned about the performance on posix script to bash script. I don't like the idea of maintaining 2 set of scripts but i don't want to loose the advantage bash has. So for now i think it would be wise to maintain bash script. It would be great if we could have a performance test between the two versions of the script.

[2020-07-13 18:17] #86 closed

[2020-07-14 03:30] Akianonymus commented on #85
@labbots Well, rationally speaking, there won't be much of a performance penalty in real time, as it all comes to external network requests.

and for the same reason, kinda difficult to benchmark the script.

Extra programs that will become necessary is awk and ps. Also one more program to get the column size, bash or zsh or stty or tput, whatever available will be used, otherwise simple logging.

[2020-07-14 09:43] Akianonymus commented on #88
i think this can be closed now.

[2020-07-14 15:51] icy commented on #84
@labbots awesome, thx a lot for the quick support :)

[2020-07-14 16:27] norbertschuler commented on #88
Can't do for the next time. Please just go on if you think it's fixed.

[2020-07-14 16:37] labbots commented on #84
Great contribution from @Akianonymus

[2020-07-14 16:38] #88 closed

[2020-07-15 14:04] Akianonymus commented on #85
@labbots i was excepting a reply whether i should keep both or not

[2020-07-15 15:09] labbots commented on #85
Let's have both the version of the script please

[2020-07-16 06:51] ElytrA8 opened #90 "Is there support for config"
I want to run workflows which upload to gdrive using config coz I can't access cli

[2020-07-16 09:43] labbots commented on #90
@ElytrA8 The script has option to pass the .googledrive.conf file as config parameter. You could use -z | --config option to pass different configurations.

[2020-07-16 10:46] ElytrA8 commented on #90
Where should I get sample config
It would be great help thanks

[2020-07-16 10:47] ElytrA8 commented on #90
Great work btw thanks for it

[2020-07-16 11:12] labbots commented on #90
You could do a initial setup on your local machine. This would create a .googledrive.conf file in the home directory. This step is required as you need to configure the access token and refresh tokens that you received from google developer console with access to google drive API.

[2020-07-16 11:58] Akianonymus commented on #90
@ElytrA8 see https://github.com/Plant-for-the-Planet-org/treecounter-app/blob/develop/.github/workflows/macos_build_ios.yml#L58 and how to do without cli access, obviously you should have those credentials beforehand.

On side note, this should be added in README as a little to handle authentication in case of CIs/non-accessible terminal.

[2020-07-17 04:20] ElytrA8 commented on #90
Thank you so much
Really Appreciate your work

[2020-07-17 04:20] #90 closed

[2020-07-25 07:50] capriciousduck opened #92 "Client Secret Error"
I am always asked for client secret even after I configured the script, the first time. When I try to upload something, it again again asks for client secret(only, not client ID). Although, when I input the client secret again, the upload still fails. FYI, I am using the latest release of the script.

[2020-07-25 11:59] #92 closed

[2020-07-25 12:03] Akianonymus commented on #92
https://github.com/labbots/google-drive-upload/releases/tag/v3.1.1

should be fine now, just update

[2020-07-25 15:11] norbertschuler opened #95 "New installation of 3.1.1 fails due to missing refresh_token"
After installing with curl when trying to upload a file for the first time, I have no refresh_token, so I just skipped that input field. The gupload script then asks to get a token from an url, but it does not wait anymore for input, but fails with the following error:
[code]
I was using version v2.7 and tried to upgrade to v.3.1.1 on MacOS.

[2020-07-25 15:58] Akianonymus commented on #95
It's not waiting for the code ? right ?

I pushed some fixes, please try again.

[2020-07-25 16:07] Akianonymus commented on #95
To try, use this command

[code]

[2020-07-26 02:05] norbertschuler commented on #95
Works for me.

[2020-07-26 02:27] #95 closed

[2020-07-26 02:31] Akianonymus commented on #95
https://github.com/labbots/google-drive-upload/releases/tag/v3.1.2

A new release has been created.

Also, on sidenote, you don't need install gnu sed for scripts to work.

I have made changes which works find with macos primitive sed.

[2020-07-27 13:00] capriciousduck opened #97 "Wildcard"
Why "gupload *" doesn't upload all the files present in the directory? It only uploaded a single folder.

[2020-07-27 13:41] Akianonymus commented on #97
@capriciousduck because 2nd arguments is taken as foldername. That's why it doesn't work.

But you can avoid this by

[code]

this will upload all files matched by the glob

Although i would love to remove this behaviour, that it takes 2nd argument as foldername, rather just use -C option only.
Using 2nd arg as foldername surely gets uncomfortable.

what do you think @labbots ? I propose on removi

[2020-07-27 16:05] labbots commented on #97
@Akianonymus I am not sure what exactly you are proposing in the changes. Are you intending to remove `-f` option?

[2020-07-27 16:53] Akianonymus commented on #97
@labbots Let me explain

currently by doing below command

`gupload test1 test2`

test1 is taken as file input and test2 is taken as gdrive folder input.

So, to change the behaviour that both test1 and test2 is takes as file input.

For specifying gdrive folder name, only -C  flag.

[2020-08-08 09:26] goodguydul opened #98 "how to reset client ID and client secret?"
how to reset client ID and client secret on your script?
because i wanna change my client id and client secret.

[2020-08-08 09:38] labbots commented on #98
@goodguydul simple way is to remove the values of client id and client secret from `.googledrive.conf` in your home folder.

[2020-08-08 17:50] juraganfilmmovie opened #99 "Little Suggestion"
hi there , it would be nice if gupload has ability tosearch file also on drive .
i hope you could consider to add new features on gupload , thank you so much

[2020-08-09 08:36] Akianonymus commented on #97
I have applied the fixes.

[2020-08-09 08:36] #97 closed

[2020-08-10 23:03] Anon-Exploiter opened #101 "File skipping with (-d) isn't working and reuploads the file"
Hi,

Thanks for the awesome script, wasn't able to find shared drive uploading functionality in many overrated scripts.

I just noticed that `-d` is supposed to skip the file if it is uploaded already but that doesn't happen (I'm sure that's the intended functionality), the script creates a new file regardless of the file existing and this will happen as many times as we execute the command.

Here

[2020-08-10 23:04] Anon-Exploiter commented on #101
Another file with some data in it (in case there is any check of size of files):

![image](https://user-images.githubusercontent.com/18597330/89839685-d04d0d80-db87-11ea-931b-25e640f12740.png)

[2020-08-11 04:02] Akianonymus commented on #101
Weird, it works just fine here

[code]

One more thing, that your DriveLink is not showing after upload

Anyway, run below commands and give me the log1 and log2 file
( upload in some paste site or gist )

[code]

[2020-08-11 06:54] Anon-Exploiter commented on #101
Yeah, I noticed the pretty-printing isn't happening either. Here are the log files

**Log1:** https://del.dog/raw/ivuyriphai
**Log2:** https://del.dog/raw/bawifogohu

It again uploaded both files on shared google drive.

![image](https://user-images.githubusercontent.com/18597330/89866715-73724700-dbc9-11ea-8501-cd717e11eb72.png)

[2020-08-11 07:38] Akianonymus commented on #101
So, it is not able to search files, probably because of team drive

i pushed some fixes, run below command to pull the fixes and try again

[code]

[2020-08-11 10:13] Anon-Exploiter commented on #101
Hi,

Reinstalled using the above command and it is still the same. Here are some POCs regarding that:

**Reinstallation (after updating once):**

![image](https://user-images.githubusercontent.com/18597330/89885858-213f1f00-dbe5-11ea-9470-506cadebbabc.png)

**Uploading:**

![image](https://user-images.githubusercontent.com/18597330/89885769-fc4aac00-dbe4-11ea-8215-366b3bc370ae.png)

**On Gdrive:**

[2020-08-11 10:18] Anon-Exploiter commented on #101
@Akianonymus maybe the commits weren't pushed?

The file shows it was updated 2 days ago (from the master branch):

![image](https://user-images.githubusercontent.com/18597330/89886330-e38ec600-dbe5-11ea-8ef2-695faa03853d.png)

[2020-08-11 10:20] Anon-Exploiter commented on #101
Also, the last commit was 8 hours ago:

![image](https://user-images.githubusercontent.com/18597330/89886476-1f299000-dbe6-11ea-9a3b-10b02f793ccd.png)

[2020-08-11 10:32] Akianonymus commented on #101
[code]

If you look closely, -B flag is used, which fetches the installation from branch, in this case, will be wip ( i pushed the changes to wip branch ).

anyway, try again, i forgot to push a local change.

[2020-08-11 10:37] Akianonymus commented on #101
Also, provide the logs again if it doesn't work.

[2020-08-11 10:47] Anon-Exploiter commented on #101
My bad, I just looked at the first part.

Here's the logs, the issue is still not fixed:

**Log1:** https://del.dog/raw/pestucyfoh
**Log2:** https://del.dog/raw/afuthester

[2020-08-11 13:08] Akianonymus commented on #101
@Anon-Exploiter Update and try again, should be working this time ( i tested my self on a team drive ).

[2020-08-11 13:58] Anon-Exploiter commented on #101
@Akianonymus, it's still the same, here are the logs.

**Log1:** https://del.dog/raw/odubighucr
**Log2:** https://del.dog/raw/mehestuned

[2020-08-11 14:19] Akianonymus commented on #101
@Anon-Exploiter Hmm, alright

Tell me exactly how you did the setup. Also, specifically details related to the team drive things.

This is what i did.

I just created a shared drive, made a folder, and used it as root folder. -d flag was not working, but after the fix i applied, it started.

( are you on telegram ? conversation would be much easier there, no push though, here is fine too, just thi

[2020-08-11 15:24] Anon-Exploiter commented on #101
@Akianonymus hahaha, yeah sure. Same here, I almost consumed 500GB+ upload depending on the skip flag :sweat_smile:

I'm on discord: Umar_0x01#0079

Let me try the latest commit you've done as well.

Also, I can give you contributor access to my shared drive for testing xD Let's continue it in discord.

[2020-08-11 15:27] Anon-Exploiter commented on #101
Also, for the initial installation, I used the one-liner from here:
https://github.com/labbots/google-drive-upload#basic-method

I've created a Ubuntu 18.04 LTS instance on AWS and am testing on that since. Details:

[code]

[2020-08-11 15:28] Anon-Exploiter commented on #101
Here's the .googledriveconf global configuration.

![image](https://user-images.githubusercontent.com/18597330/89916526-231ed780-dc11-11ea-8c9c-abb4493c1d3c.png)

[2020-08-11 17:59] Akianonymus commented on #101
@Anon-Exploiter Check discord.

[2020-08-11 19:36] Anon-Exploiter commented on #101
Done, added.

[2020-08-12 09:26] #101 closed

[2020-08-12 09:28] Akianonymus commented on #101
A new release is created: https://github.com/labbots/google-drive-upload/releases/tag/v3.3.1

[2020-08-12 10:22] Anon-Exploiter commented on #101
Thanks for the support, works fine now! :man_dancing:

[2020-08-15 15:31] VictorBaudot opened #103 "Support for global installation"
I'm creating a cronjob to upload some files every day to google drive. I can execute `gupload` when I'm logged in on my ubuntu vps but the cron can't find this command. How to make it accessible by all users on the server?

[2020-08-15 15:36] Akianonymus commented on #103
@VictorBaudot I am actually working on global installation, will have to wait sometime.

Btw, you can use gsync to do sync jobs. Read synchronisation section of readme.

[2020-08-15 15:47] VictorBaudot commented on #103
@Akianonymus ok, I will wait. `gsync` duplicates my files

[2020-08-15 15:55] Akianonymus commented on #103
@VictorBaudot Read about -a | --arguments flag in synchronisation section in [README](https://github.com/labbots/google-drive-upload#synchronisation).

You can configure the gupload arguments there.

[2020-08-15 16:12] VictorBaudot commented on #103
I yes, I missed the `-a` flag, thank you

[2020-08-19 05:32] testaccountsnt opened #104 "How to remove existing files using script"
This is an excellent script to take backups on google drive and it is very user friendly to integrate with Linux Machines.

Can we use it to remove older files from google drive? We have limited storage google drive and it gets full with in 20-22 days. If we forget removing manually, it does not store new backups.

Please help to run the utility for removing older files.

Thank You

[2020-08-25 07:04] capriciousduck opened #105 "MimeType Error"
I get the following error while installing the script:

`"file or mimetype", not found, install before proceeding.`

[2020-08-26 11:40] Akianonymus commented on #105
Just do what the message says, install file or mimetype command

[2020-08-26 12:24] capriciousduck commented on #105
Oops!

Fixed.

[2020-08-26 12:24] #105 closed

[2020-09-02 14:43] capriciousduck opened #106 "Alternate Authorization"
My university Gmail account doesn't allow me to create a new project in the console. Is there any other way to authorize my account?

[2020-09-02 22:43] labbots commented on #106
The script relies on google drive api to upload files to drive. Google does not provide any other authentication mechanism for api other that oauth. So if you can't generate a key using google console then you wouldn't be able to use this script.

[2020-09-02 22:43] #106 closed

[2020-09-02 22:49] labbots commented on #104
The feature you requested is out of scope of this script. The use case for the script is for uploading file to Google drive. Deleting stale files is user specific preference as it could be based on multiple factors such as creation date, file name, folder name, size of file etc. So at present we would not consider implementing such feature. If this issue gets enough traction from other users then

[2020-09-02 22:49] #104 closed

[2020-09-17 14:56] capriciousduck opened #109 "Binary File"
Can you provide me a binary file? I just upload files to drive and I don't use other functions like sync.

[2020-09-17 15:39] labbots commented on #109
What exactly do you mean by binary file @capriciousduck

[2020-09-17 16:19] capriciousduck commented on #109
I mean a executable file. Something similar to this....

https://www.google.com/amp/s/olivermarshall.net/how-to-upload-a-file-to-google-drive-from-the-command-line/amp/

[2020-09-17 17:12] Akianonymus commented on #109
Will push soon, just been busy..

[2020-09-28 10:22] AArchLichKing opened #111 "Cannot Sign in due to google disable"
I followed the instruction closely but get the following output in terminal:
![image](https://user-images.githubusercontent.com/50974944/94421044-924b8d80-01b7-11eb-93f5-dd9ed049bc6a.png)

While click the url, I got this:
![image](https://user-images.githubusercontent.com/50974944/94420902-60d2c200-01b7-11eb-8e8a-d03ef6532d25.png)

[2020-09-28 10:56] labbots commented on #111
@AArchLichKing Is it a personal gmail account or a corporate account?

[2020-09-28 11:03] Akianonymus commented on #111
It's a problem with your client id and secret, generate new credentials.

[2020-09-28 11:05] Akianonymus commented on #111
It's a problem with your client id and secret, generate new credentials.

You should generate new credentials, this happens if the a particular client id and secret is used more than 100 times ( I don't exactly remember the no of time ), this should be fixed by generating new credentials.

[2020-09-28 11:26] AArchLichKing commented on #111
It is private EDU account.

[2020-09-28 11:34] AArchLichKing commented on #111
Problem solved by generating new id! With many thanks! Closed the issues.

[2020-09-28 11:34] #111 closed

[2020-10-12 16:41] renatowow14 opened #113 "ACCESS TOKEN not regenerating multiple times in a single execution of script"
Command: gupload /home/user/folder

this command reproduces error, I have 826 sub-folders and 7593 files

/root/.google-drive-upload/bin/gupload: line 642:: File or directory not found
/root/.google-drive-upload/bin/gupload: line 647: /usr/bin/file: Too long argument list
/root/.google-drive-upload/bin/gupload: line 647: /usr/bin/mimetype: Too long argument list

[2020-10-13 07:45] Akianonymus commented on #113
Run `gupload --info` and send output.

Also, run `gupload -D /home/user/folder 2>| log 1>&2`

send log file contents or just the file

[2020-10-13 13:47] renatowow14 commented on #113
I apologize my problem was on the absolute path I was going through, when moving the folder to the / root directory for example and uploading it worked, but now I have errors to upload all the files, this is missing several of them, I ran the command that me was informed and I will send the log output here as soon as it is finished, even in the part that starts to give error.

the directory I was

[2020-10-13 16:39] renatowow14 commented on #113
[log.gz](https://github.com/labbots/google-drive-upload/files/5372821/log.gz)

Status: 602 Uploaded | 3772 Failed

[2020-10-13 16:45] renatowow14 commented on #113
gupload --info:

REPO: "labbots/google-drive-upload"
INSTALL_PATH: "/root/.google-drive-upload/bin"
INSTALLATION: "bash"
TYPE: "release"
TYPE_VALUE: "latest"
LATEST_INSTALLED_SHA: "7a64a39ec274ac8fca855adbb6f93edc7c6f96c2"
CONFIG: "/root/.googledrive.conf

[2020-10-14 22:16] lfernandorios opened #114 "curl: (6) Couldn't resolve host 'HTTP'"
gupload -V -o inventario_web.csv
/root/.google-drive-upload/bin/gupload: línea 1591: printf: `(': carácter de formato inválido
[ Starting script ]
[ Workspace Folder:  ]
[  16vT3kwo92JE7qYdWpko  ]

[ Given Input: FILE ]
[ Upload Method: Overwrite ]

[ inventario_web.csv | 2.71 KB ]
[ Uploading.. ]

curl: (6) Couldn't resolve host 'HTTP'
[ Upload ERROR, inventario_web.csv not Uploaded. ]

/root/.go

[2020-10-16 10:04] Akianonymus commented on #109
For bash - https://github.com/labbots/google-drive-upload/tree/master/bash/release

For sh - https://github.com/labbots/google-drive-upload/tree/master/sh

[2020-10-16 10:04] #109 closed

[2020-10-16 10:05] Akianonymus commented on #103
Fixed in latest release

[2020-10-16 10:05] #103 closed

[2020-10-16 10:12] Akianonymus commented on #114
Make sure you are on latest release, just update if not using `gupload --update`

If the problem still persists, then do the following steps.

Run gupload --info and send output.

Also, run gupload -D /home/user/folder 2>| log 1>&2

send log file contents or just the file

[2020-10-16 21:25] Anon-Exploiter opened #115 "[Bug] Fails on multiple subdirectories within main directory"
Hi,

I was trying the script out on some Chinese named folder before, like 3-4 days, it failed but I didn't get time to report. Sadly I don't have that name anymore, here's another example that fails.

The directory has additional directories in it and then additional files in them, maybe that's the reason?

The main directory even though has errors gets created regardless, the incoming files fail

[2020-10-16 21:40] Anon-Exploiter commented on #115
Confirmed, this only happens when the directory has another directory with-in, the script fails.

Moved the directory outside, kept all the **files**, and tried uploading it, it worked. The issue isn't with the **directory naming**, it's because of subdirectories within the main directories inside the parent directory.

[2020-10-16 22:40] Anon-Exploiter commented on #115
Only solution which works for me is to go inside the directory, and do tis:

![image](https://user-images.githubusercontent.com/18597330/96319945-799dfd00-102a-11eb-909c-e054a766cd84.png)

[2020-10-17 00:47] Akianonymus commented on #115
Run gupload -D /home/user/folder 2>| log 1>&2

send log file contents or just the file

Most probably it's just due to filenames i guess.

[2020-10-17 08:06] Anon-Exploiter commented on #115
Sure, here you go:

**Paste:** https://pastebin.com/t6sbHpaD
**Password:** phXTPwNJAn

It'll burn itself after one read/open, hopefully no one else is tracking these issues XD, made sure to strip any tokens, but one never knows, used the following to do it:

[code]

Let me know if any other details are required.

[2020-10-17 22:55] xaviercshp opened #116 "getting a 408 request timeout when trying to upload a zip file."
using gupload archive.zip -r <folder_id>

it shows progress 100.00% then hangs an eventually I get the 408 timeout error html.

[2020-10-17 23:05] xaviercshp commented on #116
well look at that I answered my own question. looks like this can be caused by having special characters in the file name so better to use -f flag to define the filename.

[2020-10-17 23:05] #116 closed

[2020-10-17 23:31] #67 closed

[2020-10-17 23:31] labbots commented on #67
Closed as there is no activity on the ticket

[2020-10-18 07:18] Akianonymus commented on #116
Good to hear, btw what was the filename ?

[2020-10-19 07:28] Akianonymus commented on #113
So, i looked at the log today. The problem is that if access token expires before uploading all the files, it doesn't renew it automatically untill the script is executed again.

Just have to add the required code for that. Will try to do asap.

[2020-10-19 12:44] renatowow14 commented on #113
ok thank you very much, i'm having problems and to upload files of 200GB each, i'm having to upload a backup to the drive but with big files it's not working: /

[2020-10-19 12:57] Akianonymus commented on #113
@renatowow14

Wow, that is quite big files, i really never tested on such big files.

Can you give more info what error occurs ? 🤔

[2020-10-19 15:11] Akianonymus commented on #113
So, i have pushed some fixes.

Run below command to install the gupload command with fixes. Command name will be `test_gupload` , use the same to test.

[code]

Different command name so the existing installation doesn't need to be touched.

[2020-10-19 15:19] Akianonymus commented on #115
Give below commands output

[code]

[code]

Replace folder with whatever your foldername is, make sure all the file names are same as in the logs.

[2020-10-19 22:28] renatowow14 commented on #113
all right thanks for the support, I will try to send this backup folder with files of 200GB each to my drive, in case of errors I send the log file using the commands mentioned above to capture the logs.

[2020-10-20 01:51] renatowow14 commented on #113
Unfortunately I can't upload all my files, he managed to upload only one of them, after the first error I tried to upload again using the -d option for the existing skip, he says that they are already there but only have a 243GB file, I'll leave them logs of the two attempts below for analysis.
[log.zip](https://github.com/labbots/google-drive-upload/files/5405790/log.zip)
[log2.zip](https://githu

[2020-10-20 07:11] Akianonymus commented on #113
I have pushed some new fixes

run below commands to update the test gupload command

[code]

For grabbing logs, use below commands ( will hide sensitive information from logs )

[code]

Change filename to your file name

**I am writing this again because you didn't run all the commands and because of that your sensitive information was again visible in logs.**

[2020-10-20 09:51] Anon-Exploiter commented on #115
Sorry for the delay in reply, here are the results:

[code]

[code]

[2020-10-20 10:52] Akianonymus commented on #115
So, i have pushed some fixes.

Run below command to install the gupload command with fixes. Command name will be `test_gupload` , use the same to test.

[code]

Different command name so the existing installation doesn't need to be touched.

If any problem, grab log and send.

[2020-10-20 13:21] Anon-Exploiter commented on #115
Awesome, it's working fine now!

![image](https://user-images.githubusercontent.com/18597330/96591775-0da8e680-1301-11eb-901c-dda1fe3f147f.png)

---

If you don't mind me asking, what was the issue? Was it with directory name? Or because of subdirectories?

[2020-10-20 13:34] Akianonymus commented on #115
It was because of the name of the folder. It have some patterns which are treated as regular expressions by grep ( which is used in script for grabbing sub folder drive id ). So, just changed that code for grep to use -F flag, which disables that behaviour.

Reference: https://github.com/Akianonymus/google-drive-upload/commit/7db0b036cab6a8f7907226085d8b1d63bfa1d8ab#diff-08958e01ff07ebd4aa74f0c025

[2020-10-20 13:51] renatowow14 commented on #113
okay, I ended up not paying attention to that detail, I'll run it again and bring the result logs.

[2020-10-21 05:03] Anon-Exploiter commented on #115
I see, thank you very much for fixing it. Totally works fine :man_dancing:

Closing the issue!

[2020-10-21 05:03] #115 closed

[2020-10-21 15:01] capriciousduck opened #118 "Disk Size"
Is it possible to upload files that are bigger than my server disk? I have an instance on GCE(the free tier f1-micro VM). It has only a 30GB disk. Is there any possibility to upload files in chunks so that I can upload files that are bigger than 30Gb in total?

I am using this script on my other servers and I am satisfied. However, in this, I need to transfer bigger files and since traffic to goog

[2020-10-23 02:22] renatowow14 commented on #113
I was successful in uploading only one file of 243GB the rest it failed, I don't know what else to do, I've tried several scripts besides yours but without success, I believe there is some limitation on the part of google.
[Uploading log.zip…]()

[2020-10-23 02:22] renatowow14 commented on #113
I was successful in uploading only one file of 243GB the rest it failed, I don't know what else to do, I've tried several scripts besides yours but without success, I believe there is some limitation on the part of google.
[log.zip](https://github.com/labbots/google-drive-upload/files/5426906/log.zip)

[2020-10-23 02:28] Akianonymus commented on #113
Have you tried uploading thos files  one by one ?

[2020-10-23 02:34] renatowow14 commented on #113
I am doing this at the moment as the last alternative, I put the next 243GB file to the drive, inside the folder that already existed there, I used the following parameter, script /folder_name/file_name folder_name on google drive.

[2020-10-23 02:36] renatowow14 commented on #113
I'm doing this at the moment as a last alternative, I put the next 243GB file to go up to the drive, inside the folder that already existed there, I used the following parameter, script / folder_name / file_name folder_name on the google drive.

[2020-10-23 02:40] renatowow14 commented on #113
I couldn't help noticing this error in the logs, apparently something related to credentials and authorization.

 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "authError",
    "message": "Invalid Credentials",
    "locationType": "header",
    "location": "Authorization"
   }
  ],
  "code": 401,
  "message": "Invalid Credentials"
 }
}'

[2020-10-23 02:43] renatowow14 commented on #113
I realized that sending the file to an existing folder didn't work, it is sending to the root of my drive, how can I send a file to an existing folder on the drive, could you tell me the syntax?

[2020-10-23 03:01] Akianonymus commented on #113
Yes, i applied fixes for that credentials problem. I am kinda not sure why it's not working properly. That's why said to try uploading files individually, as ACCESS_TOKEN is generated everytime at script start.

To upload in a folder, use -c flag

`gupload -c folder filename`

[2020-10-23 03:29] Akianonymus commented on #113
Also, i think you are not on latest version, send output of `test_gupload --info`

[2020-10-23 04:19] Akianonymus commented on #118
Interesting idea. Is it possible ? Yes, google drive supoorts multi part uploading.

Reference: https://developers.google.com/drive/api/v3/manage-uploads#http---multiple-requests

About the source file, i am assuming you are going to download the file.

So, let's say, we download first 50 % of the file, e.g: 50 MB of total 100 MB file.

Then, we upload the 50 MB first, then download the rest 50% o

[2020-10-23 04:20] #118 closed

[2020-10-23 12:57] renatowow14 commented on #113
I'm using the test_gupload that I asked to test, can I use the default then, the gupload?

test_gupload --info :

REPO: "akianonymus/google-drive-upload"
INSTALL_PATH: "/root/.google-drive-upload/bin"
INSTALLATION: "bash"
TYPE: "branch"
TYPE_VALUE: "master"
LATEST_INSTALLED_SHA: "38f7b6b0e8370c9dcd39a2f19f9d67cc540af89d"
CONFIG: "/root/.googledrive.conf"

[2020-10-23 13:00] renatowow14 commented on #113
I ran the command test upload --update but it seems not to have updated with this hash that sent there.

[2020-10-23 13:03] renatowow14 commented on #113
when trying to send to an existing folder I was not successful, I will send a print of what happened.
![Captura de tela de 2020-10-23 10-03-03](https://user-images.githubusercontent.com/26287257/97006964-06f3bc80-1517-11eb-9080-d58744dfe6a4.png)

[2020-10-23 13:06] renatowow14 commented on #113
I'm sending one file at a time to the root of the drive, later I will have to put everything in a folder, this will be more work but at least I'm managing to upload the large files one by one.

[2020-10-24 02:07] Akianonymus commented on #113
Use this command to update.

[code]

Sorry for the inconvenience.

[2020-10-24 02:08] Akianonymus commented on #113
Update and test again, please provide logs if any problem.

[2020-10-24 02:10] Akianonymus commented on #113
So, it's more of a script problem, as one by one file is uploading.

Waiting for the logs....

[2020-10-25 14:59] Akianonymus commented on #113
Just missed to post this yesterday.

I will explain what's the actual issue, atleast what i understood from the logs.

A access token is valid for about 60 min from the time of it's creation.

Now, before i pushed the fixes, script used to fetch access token only one time, thus erroring out after access token expires.

And also the reason it only happened in big files because of the time it took t

[2020-10-25 15:40] renatowow14 commented on #113
I managed to upload the files one by one, the problem of uploading the existing mass was apparently also solved, later I will upload another mass that contains the big files like this one, in case of errors I come back here with the logs, thanks for the support .

[2020-10-25 15:44] renatowow14 commented on #113
I had a doubt, did you upload the fixes to the official project repository or the test repository?

[2020-10-25 15:51] Akianonymus commented on #113
@renatowow14 Test repository, nothing goes in official repository without confirming the issue is closed.

Just run the command i gave, will update.

[2020-10-25 15:52] renatowow14 commented on #113
right, by the answer he gave I thought it had already been tested and gone to master, I will upload the new folder with large files and bring the results.

[2020-10-27 17:04] Akianonymus commented on #115
A new release has been created with this issue fix.

https://github.com/labbots/google-drive-upload/releases/tag/v3.4.2

[2020-10-27 18:31] renatowow14 commented on #113
Every time I try to upload something, it asks me to generate a new token, so I can't get the logs using the parameters you provided me to generate a log file, I will send the message it presents whenever I try to upload, I am currently carrying a folder that contains large files as a test, in case there is an error that I notice I will report.

Command used during the test:

test_gupload -D time_s

[2020-10-27 20:37] renatowow14 commented on #113
unfortunately I was unable to load the rest of the files in the folder, I loaded the first one and failed the rest, as I said earlier if I use the command:

test_gupload -D time_series_db / 2> | log 1> and 2

it asks to generate a new access token, so I was unable to bring the log file, but I will send an impression of what it looks like.

![Captura de tela de 2020-10-27 17-33-13](https://user-ima

[2020-10-27 20:42] renatowow14 commented on #113
Follows a print of what happens when I try to send something, he always asks to generate a new token, it would be as if he couldn't save what I already generated.

![Captura de tela de 2020-10-27 17-41-33](https://user-images.githubusercontent.com/26287257/97359550-aef0e900-187b-11eb-95f1-874fb26b133d.png)

[2020-10-28 03:18] renatowow14 commented on #113
Now it worked, you are not asking to generate a new token every time, I am loading the folder with several large files again and bring the logs in case of errors.

[2020-10-28 05:38] Anon-Exploiter commented on #113
Yooo, it's the same with me, was thinking of creating a issue on this.

Only happens sometimes, doesn't happen everytime too :confused:

[2020-10-28 06:44] Akianonymus commented on #113
Well, good news is, i have found a way to test this bug.

Will try in sometime.

[2020-10-28 11:37] Anon-Exploiter commented on #113
Yosh naice :man_dancing:

![](https://i.kym-cdn.com/photos/images/original/001/763/875/7ab.gif)

[2020-10-28 13:22] capriciousduck opened #121 "Failed Files"
I got that some files failed to upload when I've put a folder upload. How do I know which files didn't upload?

`[ Total Files Uploaded: 765 ]
[ Total Files Failed: 3 ]

[  Time Elapsed: 30 minute(s) and 20 seconds  ]`

[2020-10-28 14:05] renatowow14 commented on #113
Unfortunately without success again, when trying to upload a folder containing several large files inside it, I will update the modifications made and I will upload it again, I bring the logs.

[Uploading log.zip…]()

[2020-10-28 14:41] Akianonymus commented on #113
@renatowow14 Don't check again, i will test it myself.

I have wasted enough of your time.

[2020-10-28 14:45] renatowow14 commented on #113
I have to test this, anyway, I have to upload this data to the unit, taking my time ^^

[2020-10-28 14:53] Akianonymus commented on #113
@renatowow14 as you are testing anyway,  please update and test, the log you sent used older version.

[2020-10-28 14:57] renatowow14 commented on #113
as soon as i sent the logs i did that, i'm already testing the most current one.

REPO: "akianonymus/google-drive-upload"
INSTALL_PATH: "/root/.google-drive-upload/bin"
INSTALLATION: "bash"
TYPE: "branch"
TYPE_VALUE: "master"
LATEST_INSTALLED_SHA: "2484cb98fd865ab42a6bc3a623f605697d18b048"
CONFIG: "/root/.googledrive.conf"

[2020-10-29 00:54] renatowow14 commented on #113
I bring good news, apparently it worked, from what I saw in the logs the error you gave was for exceeding the daily upload limit, I await your confirmation.

[log.zip](https://github.com/labbots/google-drive-upload/files/5455536/log.zip)

[2020-10-29 00:55] renatowow14 commented on #113
I have some doubts, the first would be:

can I increase this daily upload limit on my account?

the second would be:

How can I download this data through your program?

Again, thanks for the support.

[2020-10-29 01:39] Akianonymus commented on #113
@renatowow14 Actually it's 2 issues, first the credentials checking, but that's scripts fault.

Exceeding daily upload limit is gdrive problem.

So, i guess the bug has been solved.

[2020-10-29 01:42] renatowow14 commented on #113
sorry it was not clear to me, so the error that appeared in the last logs I sent is due to the limitation of google right?

[2020-10-29 01:43] Akianonymus commented on #113
@renatowow14

1. Yes, you can increase daily upload limit of your account. You will have to use service accounts. I will try to integrate with script when i get some time.

Reference: https://cloud.google.com/iam/docs/service-accounts

2. I didn't understand, what data are your referring too ? 🤔

[2020-10-29 01:45] renatowow14 commented on #113
I am wondering if the only problem was due to the 750GB limit, I will send the error part of the log that I sent.

{
 "error": {
  "errors": [
   {
    "domain": "usageLimits",
    "reason": "userRateLimitExceeded",
    "message": "User rate limit exceeded."
   }
  ],
  "code": 403,
  "message": "User rate limit exceeded."
 }
}'

{
 "error": {
  "errors": [
   {
    "domain": "usageLimits",
    "r

[2020-10-29 01:54] Akianonymus commented on #113
@renatowow14 Yes

[2020-10-29 01:54] renatowow14 commented on #113
So I read this problem and as my quota was exceeded, but I'm not sure if it's correct, I didn't go up so many subfolders to have crossed the limit, I believe it could be something in the script.

https://developers.google.com/drive/api/v3/handle-errors#:~:text=Resolve%20a%20403%20error%3A%20User%20rate%20limit%20exceeded,-A%20userRateLimitExceeded%20error&text=%7D-,To%20fix%20this%20error%3A,in%20

[2020-10-29 01:59] Akianonymus commented on #113
If you think it's because of script, then try uploading again, it should upload if you have not exceeded the qouta.

[2020-10-29 02:01] renatowow14 commented on #113
I just put to upload a file that was missing from the folder and is loading, now I don't know what to say.

[2020-10-29 02:02] renatowow14 commented on #113
In short, he loaded all files in the folder except for a 15GB one, this gave the error that appears at the end of the last log I sent you.

[2020-10-29 02:05] Akianonymus commented on #113
So, I think i misunderstood your problem, it's more of a api error, rather than storage qouta error.

Basically, a solution would be to use -R flag, so it retries itself in case of error.

[2020-10-29 02:15] renatowow14 commented on #113
I used the -d option to skip the existing ones, but apparently I reached the quota limit, are there any suggestions?

![Captura de tela de 2020-10-28 23-14-22](https://user-images.githubusercontent.com/26287257/97517090-5735a900-1973-11eb-80b4-d490fa7393fb.png)

[2020-10-29 02:20] Akianonymus commented on #113
Best would be try after sometime. Wait for 5 - 10 mins to see if it changes.

[2020-10-29 02:50] renatowow14 commented on #113
A long time has passed, i will try to send again, in case there are errors come back here, but apparently the problem of uploading large files has been solved, now it seems to me to be a google limit problem.

[2020-10-29 02:58] renatowow14 commented on #113
unfortunately it didn't work, tomorrow I will try to increase the quota limit, will I be able to send more? : /

[2020-10-29 03:06] Akianonymus commented on #113
can you test to upload any other file ? To check if it works.

[2020-10-29 03:16] renatowow14 commented on #113
yes, i tried another and it doesn't work.

![Captura de tela de 2020-10-29 00-16-17](https://user-images.githubusercontent.com/26287257/97521278-ff4f7000-197b-11eb-9b42-fe15b38b654f.png)

[2020-10-29 03:18] Akianonymus commented on #113
Yeah, seems like you hit hard limit, you cannot upload anything without for today.

Only solution is to use service accounts.

[2020-10-29 03:29] renatowow14 commented on #113
I'll try to increase the limit tomorrow, and try to send it again tomorrow, thanks for the support.

[2020-10-29 04:13] Akianonymus commented on #113
@renatowow14 I will try to add the service account feature soon.

[2020-10-29 04:16] Akianonymus opened #122 "[FEATURE] Support for service accounts"
Reference: https://cloud.google.com/iam/docs/service-accounts

Basically to upload more than 750gb per day.

[2020-10-29 09:50] Akianonymus commented on #113
I have added some code to print to the user if upload limit is reached.

Refrence: https://github.com/rclone/rclone/issues/3857#issuecomment-573413789

[2020-10-29 13:46] renatowow14 commented on #113
I can't upload anything yet, I'm worried now, I'll try to increase the limit: /

![Captura de tela de 2020-10-29 10-45-15](https://user-images.githubusercontent.com/26287257/97581845-da86e700-19d3-11eb-9ba8-418acd39373b.png)

[2020-10-29 13:59] Anon-Exploiter commented on #113
You can just create a new project, delete the old one, generate oauth credentials for it and start using it. If that doesn't work, switch your google account, simple.

[2020-10-29 14:01] Akianonymus commented on #113
Typically, this should renew tomorrow, after a day.

[2020-10-29 14:05] renatowow14 commented on #113
all right, i'll try to renew asking for a new quota today, if not right, i wait 24 hours, but thanks again.

[2020-10-29 14:05] renatowow14 commented on #113
will you update the fixes for the master repository?

[2020-10-29 14:09] renatowow14 commented on #113
it may be an option, I will try it if nothing works.

[2020-10-29 14:11] Akianonymus commented on #113
Just wait for some, i have almost updated the script for using service accounts. Need to finish it up.

[2020-10-29 14:23] #113 closed

[2020-10-29 14:29] Akianonymus commented on #113
The fixes has been merged and a new release is created

https://github.com/labbots/google-drive-upload/releases/tag/v3.4.3

For further discussions on rate limit error, move on to https://github.com/labbots/google-drive-upload/issues/122

[2020-10-29 14:59] renatowow14 commented on #113
right, so I can already use the master upload script which will already have corrections right? Thank you again.

[2020-10-29 16:13] Akianonymus commented on #113
@renatowow14 Yes

[2020-10-30 05:58] Akianonymus commented on #122
@renatowow14

I have created a pull request for service accounts: https://github.com/labbots/google-drive-upload/pull/123

Install ( reinstall ) test_gupload

[code]

How to generate service accounts: https://github.com/Akianonymus/google-drive-upload/tree/wip#generating-service-account-credentials

How to use it: https://github.com/Akianonymus/google-drive-upload/tree/wip#for-service-accounts

Te

[2020-10-31 07:22] capriciousduck opened #125 "Install via ubuntu repo"
Any way to install this script via ubuntu repo? I sometimes re-create some of my servers and then I have to github again to copy the installation command. Is it possible to this script via apt-get?

[2020-11-02 02:58] renatowow14 commented on #122
The step of creating a service account I had already done, about the account limit, was something changed to work around the problem?

[2020-11-02 03:19] renatowow14 commented on #122
I think the only way to circumvent the limit would be to recreate a new service account for that right ?, from what I saw to have a limit beyond the standard you have to pay.

[2020-11-02 03:23] renatowow14 commented on #122
Okay, I'll try and bring the results.

[2020-11-03 12:49] Akianonymus commented on #85
First thing first, which package managers will even allow this script ?

Package managers don't usually add unless and until the project is quite famous and relevant, but not necessarily.

Homebrew seems possible, apt is less to zero chance, dunno about others. If anyone would like to throw some info, please do so.

[2020-11-03 12:51] Akianonymus commented on #85
Now, to achieve this, have to seperate self update code from main script, and also the uninstall script.

Next thing would be to create a man page file, containing all documentation.

If install.sh will be used then, self update and uninstall will be possiblle, otherwise no.

[2020-11-03 12:52] Akianonymus commented on #125
Closing as issue already exists.

[2020-11-03 12:52] #125 closed

[2020-11-05 02:31] Akianonymus opened #126 "[BUG] gsync --directory flag doesn't for drive folder with spaces"
Initially reported by @Anon-Exploiter

[2020-11-05 22:27] renatowow14 commented on #122
I'm sending the data, but it doesn't appear in my google drive account, I tried to browse the drive but I couldn't find it, when trying to access the link that generates access after going up, he asks to request access to the owner, I'm confused.

[2020-11-05 22:28] renatowow14 commented on #122
I'm sending the data, but it doesn't appear in my google drive account, I tried to browse the drive but I couldn't find it, when trying to access the link that generates access after going up, he asks to request access to the owner, I'm confused

[2020-11-05 22:33] renatowow14 commented on #122
The crazy thing is that the file went up and generated an access link, but when I access it asks to request access and I can't find it on my drive.

[2020-11-05 22:41] renatowow14 commented on #122
If I go up without using the -sa syntax it appears on my drive and the access link works.

[2020-11-06 04:22] Akianonymus commented on #122
@renatowow14 try specifying rootdir with --rootdir option.

[2020-11-06 15:39] Roei639 opened #128 "Install gupload"
Hello, I'm getting an installation error:
Cannot validate existing installation, make sure no other program is installed as gupload.
You can use -c / --cmd flag to specify custom command name.

Create a issue on github with proper log if above mentioned suggestion doesn't work.

[2020-11-06 15:45] Akianonymus commented on #128
@Roei639 Do following commands and give log.

[code]

Send `log` file here.

[2020-11-06 15:53] Roei639 commented on #128
I ran the command.  Does not accept error nor log

[2020-11-07 02:18] Akianonymus commented on #128
@Roei639 It works fine here. I will need the log file to know the issue.

[2020-11-07 06:25] Roei639 commented on #128
+ return 0
+ [ -n  ]
+ _check_internet
+ _print_center justify Checking Internet Connection.. -
+ [ 3 = 3 ]
+ printf %s\n Checking Internet Connection..
Checking Internet Connection..
+ _timeout 10 curl -Is google.com --compressed
+ timeout_timeout=10
+ shift
+ _clear_line 1
+ :
+ _check_existing_command
+ command -v gupload
+ COMMAND_PATH=/home/roei/.local/bin/gupload
+ [ -f /home/roei/.google-dr

[2020-11-07 09:40] Akianonymus commented on #128
@Roei639 try removing `/home/roei/.local/bin/gupload` and try again.

[2020-11-07 10:26] Roei639 commented on #128
I deleted, showing the same error

Command gupload  - - version returns version 1.1.0

And the installation path files are not found.

[2020-11-07 11:30] Akianonymus commented on #128
@Roei639 Reload terminal before trying again.

and send logs.

[2020-11-07 11:34] Roei639 commented on #128
[code]

[2020-11-07 11:49] Akianonymus commented on #128
@Roei639 Looks like you have it installed at a different place too.

remove /usr/local/bin/gupload and try again, in case of errors, give log.

[2020-11-07 12:17] Roei639 commented on #128
Installation successful.  Works thank you very much

[2020-11-07 12:17] #128 closed

[2020-11-07 13:42] labbots commented on #85
@Akianonymus  I am more inclined towards adding it to brew.

[2020-11-07 14:03] #126 closed

[2020-11-07 16:32] Akianonymus commented on #85
@labbots Hmm, seems easy too.

Now need to prepare two things, prepare a man page and ruby script for homebrew.

Will try do the ruby script first.

[2020-11-08 13:04] Akianonymus commented on #121
Created a pr for this issue.

https://github.com/labbots/google-drive-upload/pull/129

[2020-11-08 13:04] Akianonymus commented on #121
[code]

      If not running in a terminal, then

          print all

[2020-11-11 17:27] #121 closed

[2020-11-11 17:30] Akianonymus commented on #121
New release created with bug fix

https://github.com/labbots/google-drive-upload/releases/tag/v3.4.7

[2020-11-19 13:27] VictorBaudot opened #130 "Can't find the running job"
I wonder why it says that the job is running, but typing "jobs" say the opposite 🤔
![image](https://user-images.githubusercontent.com/33088396/99672069-7cff2b00-2aa5-11eb-8d69-018fad8c1046.png)

[2020-11-21 11:21] Akianonymus commented on #130
@VictorBaudot Use ps -p

jobs command only works for processes started in the same shell

[2020-11-24 17:36] Anon-Exploiter opened #131 "[Possible Bug] Fails on uploading files with names having different language than english"
Hey,

Hope you're doing fine. I was trying to upload 1500 videos to my gdrive, on the ~13th file, it failed.

It seems to me the reason is with the filenames, some of the files had urdu characters in them.

POC:

![image](https://user-images.githubusercontent.com/18597330/100130944-321a5480-2ea5-11eb-8cfa-b790f8865f50.png)

Since, I've removed the docker container and stuff, can't fetch those agai

[2020-11-24 17:36] Anon-Exploiter commented on #131
Also, as seen in the screenshot, it doesn't continue after the failure due to some reason and stops the script.

[2020-11-25 17:25] george-dilthey opened #132 "Not working on cron"
Heya! Love this thing! It works great when I run it directly in the command line, but if I schedule it via chron, it doesn't seem to work. Any ideas why?

Thanks!

[2020-11-25 17:33] #132 closed

[2020-12-05 00:42] BedirT opened #133 "Uploading to Shared Folder"
Is it possible in anyway to upload the files to a shared folder? If so is the access same path as the normal drive folders?

[2020-12-15 08:18] zadcall opened #135 "Getting download link in variable in bash script?"
I'm uploading multiple files to google drive and i need to get the download link of each one and save it locally is that possible ?

[2020-12-25 08:35] Akianonymus commented on #135
@zadcall Use -i | --save-info flag

From README

-   <strong>-i | --save-info <file_to_save_info></strong>

    Save uploaded files info to the given filename."

[2020-12-25 08:36] Akianonymus commented on #133
@BedirT Yes, it is same.

[2020-12-25 08:38] Akianonymus commented on #131
Can you provide me the file names ? Thank you

[2020-12-25 08:39] Akianonymus commented on #130
Closing as no response. If issue persists, reopen.

[2020-12-25 08:39] #130 closed

[2021-01-02 13:01] renatowow14 opened #136 "I can't upload a very large list of files and folders :/"
============================================================================[ Status:  Uploaded | 430418 Failed ]=============================================================================
/root/.google-drive-upload/bin/gupload: line 922: /usr/bin/grep: List of arguments too long

I can't upload a very large list of files and folders :/

[2021-01-04 06:38] Akianonymus commented on #136
Run the below command and give output.

[code]

Replace `folder_name` with your actual folder name

[2021-01-04 11:03] #133 closed

[2021-01-04 22:35] renatowow14 commented on #136
14930 sub folders, 2934787 files

[2021-01-05 04:14] Akianonymus commented on #136
@renatowow14 Run the following commands and give me the log file.

[code]
Replace the `gupload folder` command with whatever command you were running.

[2021-01-05 08:53] Akianonymus opened #138 "[FEATURE] Support for folder clone"
Ability to clone drive folders, currently file cloning is supported.

Similar: https://github.com/ericyd/gdrive-copy

[2021-01-05 08:55] Akianonymus opened #139 "Support for sharing folders with write permissions"
Currently, when a file is shared with --share flag, it is shared for read only mode.

[2021-01-05 10:21] Akianonymus commented on #122
So, i did some work on this today.

Almost everything is working now.

About the files not appearing, well it's uploaded in the bot account so not accessible.

For that, use --share flag.

Now, to upload directly in your own account, you have to use the --rootdir option.

1. Grab the client email from service account json.

2. Make a folder on your own drive and give write permissions to that emai

[2021-01-06 18:14] renatowow14 commented on #136
I didn't understand how the command would look?

gupload -D folder_name

for i in log; do
    values="$(grep -oE "(CLIENT_ID|CLIENT_SECRET|REFRESH_TOKEN|ACCESS_TOKEN|ROOT_FOLDER|WORKSPACE_FOLDER_ID)=.*" "${i}")"
    eval "${values}"

    for j in CLIENT_ID CLIENT_SECRET REFRESH_TOKEN ACCESS_TOKEN ROOT_FOLDER WORKSPACE_FOLDER_ID; do
         string="$(eval printf "%s" \"\$"${j}"\")"
        sed "s|

[2021-01-07 02:37] Akianonymus commented on #136
@renatowow14

[code]

[2021-01-08 15:27] renatowow14 commented on #136
I have another problem, every time I try to run the gupload command he asks me to validate the Checking credentials authentication, as if he was cleaning the .googledrive.conf file

[2021-01-08 15:27] renatowow14 commented on #136
ok i will try

[2021-01-09 03:20] Akianonymus commented on #136
@renatowow14 Update to latest release, it should be fixed.

[2021-01-17 03:14] jniquet-intelcom opened #140 "Need to reinsert my credentials every 7 days."
Hello,
I'm having an issue with my credentials. I'm using gupload once every day on a cron. Every 7 days it seems I need to reinsert my credential in gupload (using the same oauth client ID, I just need to remove my config file and reinsert the details).

[code]

I'm not super knowledgeable of google api, is it something expected? Is the refresh of my token not working?

[code]

`CentOS Linux rele

[2021-01-23 09:49] capriciousduck opened #141 "File Permissions While Upload"
Is it possible to set file permissions while uploading the files? For example, to set "Anyone with the link" permission to a file I upload from the terminal.

[2021-01-26 05:21] Akianonymus commented on #141
Use -S | --share flag.

[2021-01-26 14:55] Akianonymus commented on #140
This is definitely weird, doesn't happens me, i am using it since a year now.

[2021-01-26 14:57] jniquet-intelcom commented on #140
I've tried to generate a brand new oauth creds and see if it stays alive. Thanks for the reply, at least I know i'm an odd case!:)

[2021-01-26 15:13] Akianonymus commented on #140
@jniquet-intelcom The thing which is more weird that it would happen after 7 days, i don't remember adding anything in the script specific to 7 days.

[2021-01-29 21:06] santsang opened #144 "cannot specify google folder"
I use -d to specify the folder.  The file only upload to the root of my google drive. May you give an example? Thanks.

[2021-01-30 07:13] Akianonymus commented on #144
You are supposed to use -r / --rootdir flag, not -d / --skip-duplicates flag.

[2021-01-30 19:33] santsang commented on #144
I got this impression from your homepage.  I have not tried -r yet.  I find that -c work too.  I do not know the difference between -r and -c.  Any suggestion?

[2021-01-30 19:35] santsang commented on #144
A question (not criticism): Any plan in developing your app into something like this: https://github.com/andreafabrizi/Dropbox-Uploader.  I bet with google drive, it is not that easy.  However, given that you allow downloading things from google drive, it is perfectly possible. it will be nice if we can browser the content and delete files of google drive.

[2021-01-31 01:42] Akianonymus commented on #144
@santsang -r flag uses folder id whereas -c flag uses folder name.

which homepage you are talking about again ?

[2021-01-31 02:00] Akianonymus commented on #144
@santsang About developing into something like the dropbox uploader, yes, it's totally possible, as long as it can be done using api.

It's on my todo list, but cannot promise when i am gonna do it.

Also, given i maintain a posix version and parallel uploading, it takes even more time to implement a feature.

So, basically in a nutshell i am saying, i currently don't have time to do it, atleast t

[2021-01-31 15:57] santsang commented on #144
Many thanks for taking my question in a good way.  Here is the webpage: https://github.com/labbots/google-drive-upload.

It mentions:... gsync folder_name -d gdrive_folder...

I thought I simply replace gsync with gupload.  I use portable git....  I could not get gsync working.

I agree with you.  It is easy to suggest how people improve their app, but it is difficult to do so.  That is precisely

[2021-02-01 03:37] Akianonymus commented on #144
You are mixing gsync and gupload, please read the readme more carefully.

[2021-02-01 12:57] santsang commented on #144
Yes, I understand.  I could not get gsync working on my machine.  Since gupload works, it just uses it to save study time:).  Many thanks again.

[2021-02-01 16:00] Akianonymus commented on #144
@santsang ooh, you meant gsync was not working. My bad, can you provide the logs, thank you.

[2021-02-03 19:35] Ramjii opened #145 "Missing an option to write description"
Sorry in advance if I missed it, but I don't seem to see any option for gupload to add a description to the file (visible in the details panel in gdrive).
It would be a really nice feature to add, the previous gdrive upload tool I was using had it.

Otherwise, great script, thanks a ton for it. Works well on Windows

[2021-02-04 21:24] forkbabu opened #146 "Has anyone tried this setup in Google Colab?"
I want to see a starter notebook for colab users. The upload stuff would help me a lot.

[2021-02-05 13:46] #146 closed

[2021-02-06 11:02] ourcoteam opened #148 "--Share with email address not working [ [ Error: Invalid Input - eng.aldmohy@gmail.com ] ]"

[2021-02-06 11:03] ourcoteam opened #149 "--Share with email address return error invalid input"
Hello,

I'm trying to upload a file to my drive and sending the share link to an Email but i's only uploading the file and returning invalid input.
gupload myfile.txt --share eng.aldmohy@gmail.com

[ [ Error: Invalid Input - eng.aldmohy@gmail.com ] ]

[2021-02-06 11:04] #148 closed

[2021-02-14 10:20] shdobxr commented on #149
+1 also tried encapsulating email in quotes.... tried '-S' and that didn't work either.

[2021-02-19 10:15] ST0RMTR00P3R opened #150 "Gsync service doesn't start"
When I try to create and start a new gsync service I get following errors:
`pi@raspberrypi:~ $ gsync /media/usb-drive/shared -d Share --service sync
=============================================================================================================================================================================================================================================
Service Name:

[2021-02-23 10:32] specters312 opened #151 "The quite flag suppresses the url for the share flag"
### Issue
running `gupload -q -S test` will actually suppress the url that needs to be shared.

#### Output with issue
[code]

#### Preferred output
[code]

#### Non quite generic output
[code]

[2021-02-23 10:33] specters312 commented on #151
Also I hope you are having a good day on your side of the screen!

[2021-02-26 18:39] shdobxr commented on #140
I had the same problem gents, I have some friends of mine that work at google, so I asked them... is there some sort of hard limit? One of my buddies pinged me this.

https://developers.google.com/identity/protocols/oauth2

Using this sort of auth, and honestly making sure some error handling is in there for refresh, is really what this is called for. My thought is that this is something that need

[2021-03-02 08:14] jkaan commented on #140
Perhaps this helps, but I'm using the same client ID and client secret for two instances of `gupload`, one of them hasn't been invalidated yet for 3 months, the other expires every week.

[2021-03-07 23:28] jniquet-intelcom commented on #140
I've not had success since my initial reset of the credentials, it still reset (although initially i said 7 days, it actually is 8 days).
Trying a new set a credentials yet again.

Is it possible its related to the fact that I create my refresh token on my PC but for my server? (I don't really have ways to generate the refresh token on my server, at least not easily).

[2021-03-10 09:26] niklasfrick commented on #150
Having the same problem. Did you come up with a solution?

[2021-03-24 15:06] jniquet-intelcom commented on #140
I've actually tried to setup google api access directly and am suffering from the same problem so I don't believe it's related to these scripts. Will close this issue and continue investigating on my side. I believe it's related to the fact that i generate my refresh token on my workstation but use the script on my server (without Desktop environment or webbrowser to generate the token).

[2021-03-24 15:06] #140 closed

[2021-04-06 19:54] rdelgadou opened #155 "[ FEATURE ] Support for sub-folders with --create-dir flag."
I am trying to use gupload to upload a bunch of files that are organized in folders like this:

1995/01/<several files>
1995/02/<several files>
...
1995/12/<several files>

In a folder on GDrive that should like this (from the GDrive root directory):
Moclim/20THC/1995/01
Moclim/20THC/1995/02
...
Moclim/20THC/1995/02

Moclim is the root folder for gupload (I configured it as so during initial setup

[2021-04-09 03:24] divyam234 opened #156 "[BUG] Skip duplicates not working on some filenames"
I have some files named   like   10-abc -abc xyz't abx  which are not counted as duplicates  when I run the upload process second time I am assuming some special chars in file names are causing this  in this case it is caused to do comma but If I remove this comma then it is  counted as duplicate.

[2021-04-10 02:36] telegrambotdev opened #157 "can you add shared drive support too ?"
can you please add shared drive support too ?

[2021-04-10 02:37] telegrambotdev commented on #157
This code is awsome. but there is no option for shared drive folder selection. can you please add that too ?

[2021-04-17 12:26] Synertry commented on #140
I had the same symptoms for a month now and even created a [personal sync frame for uploading and deploying the refresh token.](https://gist.github.com/Synertry/3baa660b39e6f3b53f9a33a7ae140490)
Manual deletion of the expired refresh token line in _.googledrive.conf_ and creation is still needed.

For anyone still searching for the source of the problem:
[https://developers.google.com/identity/pro

[2021-04-27 16:02] sabrio commented on #132
@george-dilthey did you found anything related to the above, I am having issue while trying to upload a file on google drive with cron job?

[2021-04-27 16:11] george-dilthey commented on #132
I think what I ended up doing is rolling it into a shell script and running the shell script via cron.

[2021-04-27 19:44] Anon-Exploiter commented on #131
@Akianonymus not possible anymore :disappointed:

Should I provide some from google? I guess the characters are the issue, generic might work too.

The same goes for Japanese/Chinese characters I think.

[2021-05-03 17:27] jniquet-intelcom commented on #140
Indeed, cleaning up my scopes and publishing my app seems to have resolved the problems I had.
Thank you @Synertry !

[2021-05-05 17:54] Akianonymus commented on #156
Provide the exact filenames.

[2021-05-05 17:57] Akianonymus commented on #155
-c doesn't support sub folder structure right now, only single folder.

As for a workaround, make the folders beforehand on drive and then upload to the common folder.

[2021-05-05 17:59] Akianonymus commented on #157
Just create a folder in shared drive, use folder id like you would normally do.

Make sure you have access to it, should work.

[2021-05-05 18:03] Akianonymus commented on #141
Closing this as doesn't seem to be an issue. Reopen if not solved.

[2021-05-05 18:03] #141 closed

[2021-05-05 18:05] #135 closed

[2021-05-06 12:38] telegrambotdev commented on #157
let me check

[2021-05-06 18:09] #157 closed

[2021-05-06 19:25] Beomi commented on #105
for later visitors, on ubuntu, try this:

[code]

[2021-05-09 10:38] Akianonymus commented on #131
Well, i tested for chinese and japenese characters, works fine.

[2021-05-09 12:45] Anon-Exploiter commented on #131
It might not be possible to reproduce this issue at this time then, I'll look out for it in future, if I do come across ^^ will reopen this.

Thanks!

[2021-05-09 12:45] #131 closed

[2021-05-10 10:41] Akianonymus commented on #151
https://github.com/labbots/google-drive-upload/commit/0255e0185c94b4a22a777b530dd0a43ab7c6b449

[2021-05-10 10:42] Akianonymus commented on #150
It has been fixed: https://github.com/labbots/google-drive-upload/commit/6e6d02fb36fa25309b127aff1cbd3bd0ab7e07a8

Update gupload to get the latest release.

[2021-05-10 10:51] Akianonymus commented on #149
Fixed in this commit: https://github.com/labbots/google-drive-upload/commit/fef63f3ff099ae20ffe6f69fd73eb4330ba5bb20

Update to latest release.

[2021-05-11 07:05] divyam234 commented on #156
gupload  "10-abctest's.ipynb" -d

Running this is creating two files with same name  here extension can be any extension

[2021-05-16 08:51] Akianonymus commented on #136
@renatowow14 Any update on this ?

[2021-05-16 16:09] capriciousduck opened #160 "Error"
I am getting the following error

`--------------------------------------------------------[ Checking credentials.. ]----------------------------------------------------------
========================================================== All available accounts. ==========================================================
1. default1
2. default

========================================== Above accounts

[2021-05-16 17:56] Akianonymus commented on #160
Will be fixed after https://github.com/labbots/google-drive-upload/pull/159 is merged

[2021-05-16 19:05] #160 closed

[2021-05-16 19:05] #156 closed

[2021-05-16 19:08] Akianonymus commented on #160
Fixed in latest [release](https://github.com/labbots/google-drive-upload/releases/tag/v4.1), update.

[2021-05-17 02:23] Akianonymus commented on #156
@divyam234 Update to the latest version, fixes have been merged.

[2021-05-17 13:13] Akianonymus opened #161 "[FEATURE] Support for checking filesize/md5sum for --skip-duplicates/--overwrite"
Currently the script only checks for name when using the skip duplicates or overwrite flag.

There should be three modes:

 - name and size
 - name and md5sum
 - name

Default mode for skipping duplicates: name and size

Default mode for overwrite: name

[2021-06-10 08:32] kirill-kalinin opened #162 "[BUG] Garbled file names"
Uploaded files are getting wrong names

Command example:
`gupload --config test/myconfig.conf --overwrite --quiet -f test/SomefilenameTestUpload_123.45.apk -c 123.45_apk`

Uploaded file name:
`SomeilenameTes	Upload_123.45.apk`

[2021-06-10 10:53] Akianonymus commented on #162
Are you on latest release ? Because it's working fine here

![image](https://user-images.githubusercontent.com/32216346/121513152-2557eb00-ca08-11eb-92fc-6f734d8910c8.png)

[2021-06-10 11:15] kirill-kalinin commented on #162
Yes, it's the latest release, i had no this problem before last update. Terminal shows proper file name, but uploaded file real name is different.
<img width="1065" alt="Screenshot 2021-06-10 at 2 06 41 PM" src="https://user-images.githubusercontent.com/52810073/121515792-3f88cd80-c9f6-11eb-8666-efa6d1c6a184.png">

[2021-06-10 12:28] Akianonymus commented on #162
Well, here it's perfectly fine.

![image](https://user-images.githubusercontent.com/32216346/121517918-833b0180-ca0d-11eb-8160-263152c687fb.png)

I will need debug logs to further investigate in the issue.

Run below command to grab the debug logs and remove sensitive information from the log

[code]

( This will use -D flag to show debug logs and &> to redirect all of it to file named log, furthe

[2021-06-10 13:32] kirill-kalinin commented on #162
Here is it:
[log.txt](https://github.com/labbots/google-drive-upload/files/6631745/log.txt)

I should say i use Mac OS

[2021-06-10 14:31] Akianonymus commented on #162
@kirill-kalinin Well, last statement made it clear, primitive mac os sed is messing up again.

Run below command and give output.

`echo "$(printf '\t')SomefilenameTestUpload_123.45.apk" | sed "s/$(printf '\t')/tt/"`

[2021-06-10 14:32] Akianonymus commented on #162
@kirill-kalinin Well, last statement made it clear, primitive mac os sed is messing up again.

Run below command and give output.

`echo "$(printf '\t')SomefilenameTestUpload_123.45.apk" | sed "s/$(printf '\t')/tt/"`

[2021-06-10 14:34] kirill-kalinin commented on #162
Output:
ttSomefilenameTestUpload_123.45.apk

[2021-06-10 16:12] Akianonymus commented on #162
@kirill-kalinin So, i have got the fixes, will push asap.

Currently as a workaround, you can either use bash 4.x or update sed with gnu sed.

[2021-06-12 08:32] Akianonymus commented on #162
@kirill-kalinin Execute below commands and try to upload again.

[code]

[2021-06-14 11:32] Akianonymus opened #164 "[BUG] Implementing lock files for common files shared over multiple instances of script"
When there are multiple instances of script running, then there can be a situation of conflict and the config can get messed up when both instances are simultaneously writing to same config file (although the chances are quite rare).

Similarly for other files.

This can be avoided by creating lockfiles and check them before writing to check if the config is currently being written.

[2021-06-15 02:09] #161 closed

[2021-06-15 02:09] #162 closed

[2021-06-15 02:12] Akianonymus commented on #162
Try the latest release, if not fixed, reopen the issue.

[2021-06-15 09:30] rezaarifian opened #165 "Cannot upload to Drive"
Hello, I'm getting problem an upload to drive:
my script run on file `.gitlab-ci.yml`
first the script working upload APK to drive.
a month ago this code not working on process is `success` but file APK not appear on Drive.

[
<img width="898" alt="Screen Shot 2021-06-15 at 16 16 18" src="https://user-images.githubusercontent.com/16816082/122028902-a8a58200-cdf6-11eb-99ef-b64b8861d0d5.png">
](url)

[2021-06-15 10:14] Akianonymus commented on #165
Try running the commands without a subshell, what it outputs, without the `

From the looks of it, not able to connect to the internet, which is weird.

[2021-06-15 15:09] KorewaLidesu opened #166 "Frozen when using gupload"
Is it normal that after upload, the script will just frozen for a few minutes?
Like this?
![image](https://user-images.githubusercontent.com/24401452/122077829-4795a280-ce26-11eb-9d29-d26fe90703a8.png)

[code]

[2021-06-15 15:11] KorewaLidesu commented on #166
Huh, it just weird for me...

[2021-06-15 15:11] #166 closed

[2021-06-15 15:31] Akianonymus commented on #166
@KorewaLidesu After script shows Time Elapsed, it means it exited.

[2021-06-15 15:35] Akianonymus commented on #166
Also, can you tell this command output from where you are running

[code]
( not related to your bug )

[2021-06-15 15:55] KorewaLidesu commented on #166
xterm-color

[2021-06-15 15:58] KorewaLidesu commented on #166
It just sometimes random stop right there. I need to trigger Interrupt command or it just stay there forever.

[2021-06-15 15:58] KorewaLidesu commented on #166
`xterm-color`
Using Google colab

It just sometimes random stop right there. I need to trigger Interrupt command or it just stay there forever.

[2021-07-27 19:01] renatowow14 commented on #136
You can close the call, everything worked out with the new update.

Thank you very much for the support.

[2021-07-28 01:30] #136 closed

[2021-07-31 23:27] renatowow14 opened #167 "/root/.google-drive-upload/bin/gupload: line 1531: /usr/bin/grep: Argument list too long"
folder_name | 961182 File(s) | 26694 Sub-folders

error when trying to upload a folder with several subfolders and several files.

[2021-08-11 12:46] Akianonymus commented on #167
Hmm, gotta figure out how to deal with this.

[2021-08-11 12:58] Akianonymus opened #168 "Keep a local docs in repo itself"
It's good and all that we have a seperate website to shows the docs, but i think we should have a local docs in the repo too.

So, we don't need to just clone another branch just to write docs and frankly it's tedious.

By docs i mean whatever was in readme previously.

And not in main readme but docs.md or something.

[2021-08-11 14:59] Akianonymus commented on #167
@renatowow14

run these commands and try to upload again

[code]

[2021-09-01 15:06] 1a1a11a opened #172 "Is there a reason download is not supported?"
Hi there, this is a wonderful tool, but it seems does no support downloading, is there a specific reason? Thank you!

[2021-09-01 15:29] Akianonymus commented on #172
Try https://github.com/Akianonymus/gdrive-downloader

[2021-09-01 19:21] 1a1a11a commented on #172
Thank you!

[2021-09-01 19:21] #172 closed

[2021-09-06 13:38] AntoineTurmel opened #173 "Given root folder ID/URL invalid."
[code]

Uploading to root folder works fine, but when I want to specify another root with a folderid it's not working...

[2021-09-07 16:35] Akianonymus commented on #173
Do you have access to that folder id ?

[2021-09-11 15:29] CoolGuyMK opened #174 "Giving error when accessing the authorization code"
![Screenshot_20210911-172657](https://user-images.githubusercontent.com/63323163/132953020-db26af7f-6edf-41af-8456-1d82de9898b4.png)

[2021-09-13 13:23] AntoineTurmel commented on #173
Yes, it's a subfolder created by me in my Google Drive space.

[2021-09-14 14:32] Gnai opened #175 "No valid arguments provided for root dir flag"
Hello! I couldn't set the root folder again with the `-r` flag

[code]

[2021-09-14 15:25] Gnai commented on #175
Also getting this error :
`gupload -r default={asfejhI9230rNLDCNaionareefff}

No valid arguments provided, use -h/--help flag to see usage.`

[2021-09-15 08:10] Gnai commented on #175
I was able to edit the config file using `sudo nano` and the folder ID and the name.
Setting this up with -r flag was impossible.
I was also wondering if that needs to be set up for someone who has no knowledge in coding, it would be a cumbersome process. Making it more straight-forward and an out-of-the box process to set up/connect the auth. to drive would be ideal.
Thank you for this tool ! I a

[2021-09-15 08:15] Akianonymus commented on #175
@Gnai Why are enclosing it in parentheses ?

[2021-09-15 14:01] Gnai commented on #175
same error, I tried everything

[2021-09-30 16:32] borland502 opened #176 "gupload: line 724: 1: Give account name"
[code]

This is likely a usability (user error) bug, rather than a true bug given no issues submitted.  However, no matter what I type for the account name  `Test, default, [client-id]` the result is an exit before anything is setup with the error above.  No, I lie, if I do client_id I do get an invalid complaint.

zsh using iterm, macos: darwin20.0

update:  I got around the setup issue by using

[2021-10-01 04:26] Akianonymus commented on #176
I will looks into it, probably some typo.

[2021-10-01 04:27] Akianonymus commented on #175
How did you install gupload ?

[2021-10-01 07:12] Gnai commented on #175
with the command line using pip

[2021-10-01 13:27] Akianonymus commented on #175
I don't gupload is on pip

Read this: https://labbots.github.io/google-drive-upload/setup/install/

[2021-10-02 07:48] Akianonymus commented on #173
Try to use -c to create a new dir, note down the folder id, use it with -r

Tell if that works

[2021-10-02 08:37] Akianonymus commented on #168
@labbots

[2021-10-03 10:42] dhiva commented on #168
@Akianonymus The docs are moved to different branch so that we could provide rich web documentation and not just in readme. This is done for few reasons.

1. Simple web documentation for users to use.
2. This provides better analytical data on the usage of the script through google analytics which is not possible with Github insights.
3. I do not want to maintain 2 sets of separate documentations.

[2021-10-03 10:42] #168 closed

[2021-10-03 11:56] Akianonymus commented on #168
Fair point.

I don't see how this is relavant anyway, but whatever.

You just need properly sub categorized docs in the main repo, then maintain your seperate branch to automatically fetch and update stuff, probably a little complex, but i cannot fathom that the documentation itself is not in the main repo.

When i clone the repo i except the docs to be there. Just residing fully on a external web

[2021-10-03 11:58] Akianonymus commented on #168
Btw, a little offtopic, could you add `hacktoberfest` tag to repo.

[2021-10-04 12:10] dhiva commented on #168
@Akianonymus  Keeping document within repo might be your preference but I think having a web document is much more accessible and easier to navigate. Moreover the analytical data from google analytics is much more rich and it is not limited to few weeks insight shown in Github. I wonder why creating a worktree and using it would be difficult for you. The documents are still within the same reposit

[2021-10-04 13:53] Akianonymus commented on #168
Well, talking about difficulties, i have to create two prs everytime because docs and script are in different branch.

My proposal was to keep the docs in the main repo, categorised and stuff, and website will be automatically built. Many projects actually do that, maybe i will try that in the near future.

Also, you if i am not wrong, you can also keep the docs in main branch and still built the

[2021-10-04 19:20] labbots commented on #168
@Akianonymus you could push the changes to the docs directly to hugo-docs branch.

[2021-10-11 10:35] raimondsre opened #177 "Not an issue, but is there analogous software for Download?"
I have tested ~10 google drive related programms and Gupload is the single that performed the task - upload to institutions shared drive with limited permissions.

May i ask if you could recommend software for Download? Unfortunately i have tried every single popular project but they just do not work in this case.

[2021-10-26 11:32] mdawart opened #178 "Resume recursive folder uploads"
I am not sure if this is the right way to ask: How can I achieve a resumable upload of a recursive folder upload?

I have a folder with subfolders and files in it, some huge. I tried to simulate a connection issue by exiting the script manually and starting the command again. But against my assumption a new version of the folder was created besides the one created on an earlier upload, and in the

[2021-12-03 17:13] scottmarlow opened #179 "gupload ignoring exclude of .git folder"
To recreate:
- mkdir ~/testupload
- cd ~/testupload
- echo "helloworld" > hello.txt
- git init
- cd ..
- gupload testupload --exclude .git

gupload is including the ~/testupload/.git folder contents.

Other options tried to exclude:
- gupload testupload --exclude .git*
- gupload -ex .git testupload
- gupload -ex ".git" testupload
- gupload -ex *git* testupload

The ~/testupload/.git folder is alwa

[2021-12-09 10:07] #177 closed, assigned to nobody

[2022-01-06 09:40] Akianonymus commented on #178
Normally, you shouldn't need to mess with anything else.

Does it not work by default ?

[2022-03-30 13:09] gokazeacg opened #182 "CPU usage."
![image](https://user-images.githubusercontent.com/56425629/160839407-1ea78cab-cbcc-47a8-b2a2-e4b0aee5200a.png)
I'm using this shell script at my Ubuntu 20.04.4 LTS server with 2 vCPU.
Sometimes script stucked and Cpu usage up to 200%.
At the same time, there is no network traffic. I'm just wondering what is going on.
This situation appear randomly. Maybe once in sixty times.

[2022-04-22 22:56] a14i3e20 opened #183 "OAuth method deprecated"
Hello

I try to configure gupload for hours and i have an issue with the aujthorization code. Google return an error 400 invalid request _redirect_uri: urn:ietf:wg:oauth:2.0:oob_ . I found it's no more possible to connect to the google account via the OOB method since 28/02: https://developers.googleblog.com/2022/02/making-oauth-flows-safer.html#instructions-oob

Is there another way to get this c

[2022-05-14 09:47] Cub1tor opened #184 "File size limited on upload"
Trying to upload photos to the shared drive, everything works just fine except the fact, that only 4Kb of each file is uploaded, instead of full size

Command used:

[code]

[2022-05-14 11:32] Cub1tor commented on #184
MacOS is incredibly stupid, 4Kb copies with "._" before the name for EACH file
Idiots
My fault, sorry for useless Issue

[2022-05-14 11:32] #184 closed

[2022-05-14 15:00] Akianonymus commented on #184
Sorry but can you elaborate ? I didn't quite understand what was the issue.

[2022-05-14 15:08] Cub1tor commented on #184
Sure
I wanted to upload the folder with photos and I've seen that each file uploaded is only 4Kb, instead of it's original size, so I stopped the upload and tried to figure out what was wrong.
After an hour I realized, that MacOS made a 4Kb file with something(I don't even know what for) for each photo in the folder.

Photo IMG_1.jpg -> 4Kb file named "._IMG_1.jpg"

![image](https://user-images.gi

[2022-05-14 15:25] Akianonymus commented on #184
oh, no worries. By the way, maybe those are thumbnails ?

[2022-05-14 15:38] Cub1tor commented on #184
I thought about thumbnails, but aren't they supposed to be readable?

Found this:

[2022-05-16 04:10] #175 closed

[2022-05-16 04:30] Akianonymus commented on #182
How do i reproduce it ?

[2022-05-16 04:38] #173 closed

[2022-05-16 04:39] Akianonymus commented on #165
Reopen if needed.

[2022-05-16 04:39] #165 closed

[2022-05-16 04:40] Akianonymus commented on #144
Reopen if issue persists. Closed due to inactivity and no information about the issue.

[2022-05-16 04:40] #144 closed

[2022-05-16 04:40] Akianonymus commented on #114
Reopen if issue persists. Closed due to inactivity and no information about the issue.

[2022-05-16 04:40] #114 closed

[2022-05-24 10:59] xnosek00 commented on #183
Hi, I can confirm the same problem.

It is not possible to authorize appliaction du to "error 400 invalid request". So it is not possible to use this plugin for now.

Accounts, which were authorized in past will work, but new instalations will not work.

[2022-05-29 08:35] mdawart commented on #178
Tried today with latest version, still the same behavior. Is there anything I can provide you to better understand the issue?

[2022-06-06 07:20] mdawart opened #186 "Upload failed"
I am uploading folders with a lot of big e.g. video files. #178

Sometimes all the uploads failure after a while and I get errors like

`{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "authError",
    "message": "Invalid Credentials",
    "locationType": "header",
    "location": "Authorization"
   }
  ],
  "code": 401,
  "message": "Invalid Credentials"
 }
}
`

but when th

[2022-07-14 12:41] #155 closed

[2022-07-14 12:41] #174 closed

[2022-07-14 12:41] #176 closed

[2022-07-14 12:41] #178 closed

[2022-07-14 12:41] #179 closed

[2022-07-14 12:41] #183 closed

[2022-07-14 12:55] Akianonymus commented on #186
Try again and see if this issue persists. Be sure to update.

[2022-07-14 12:56] Akianonymus commented on #167
@renatowow14 Pull from latest release and try again

[2022-07-16 14:01] mdawart commented on #186
Was not able to test, because getting another error [https://github.com/labbots/google-drive-upload/pull/185#issuecomment-1186191539](url)

[2022-07-18 11:31] manzolo opened #188 "Unable to authenticate (v4.4)"
I tried to run the gupload command, and after finishing the configuration I get the error
_**Error: Cannot fetch refresh token, make sure the authorization code was correct.**_

- gupload file.png
---------------------------------[ Checking credentials.. ]-------------------------------------------------------------------
- ==========================================================================

[2022-07-21 17:25] Akianonymus commented on #188
Will be fixed after the PR is merged.

[2022-07-21 20:27] Roei639 commented on #188
When trying to access the link, an error is received:

This site cannot be accessed

 Could not connect to localhost.

 You should try:

 check the connection

 ERR_CONNECTION_REFUSED

[2022-07-22 02:16] Akianonymus commented on #188
@Roei639 You should create another issue with logs.

[2022-07-22 06:11] mdawart commented on #186
next try [gupload.zip](https://github.com/labbots/google-drive-upload/files/9165182/gupload.zip)

[2022-07-22 06:33] Akianonymus commented on #186
What is the error now ?

[2022-07-23 08:38] Roei639 opened #190 "Unable to access verification v4.4"
1. Connects through a terminal by pressing gupload xxxx.json
2. Info: Account names can only contain alphabets / numbers / dashes.
3. Tap a backup name
4. Refresh Token - enter
5. Visit the below URL, follow the instructions and then come back to commandline
6. Opening a Chrome browser and copying a link
Error:
This site cannot be accessed
 Could not connect to localhost.
 You should try:
 check t

[2022-07-23 13:40] Akianonymus commented on #190
Have you tried this script ?

https://raw.githubusercontent.com/Akianonymus/google-drive-upload/master/release/bash/gupload

If still not solved, then run with -D flag and send logs

[2022-07-23 16:28] Roei639 commented on #190
Doesn't work in the script you sent
I can't access localhost through the terminal
Is it possible?  Why does it point to localhost?

[2022-07-23 21:59] Roei639 commented on #190
Debug:
[code]

[2022-07-24 03:25] Akianonymus commented on #190
I don't see the `ERR_CONNECTION_REFUSED` in logs as you said before

It is creating a localhost server to grab the code from the browser.

I will give you a new script with more debug options soon, for now run this python script and see if server is started successfully or not.

[code]

Copy this to a file, let's say a.py

then, python a.py, a http server should

Visit http://localhost:8080/?code=

[2022-07-24 04:05] Roei639 commented on #190
log a.py:
[code]

1. I changed port 8080 to port 9797 and the a.py script seems to work
2. I replaced localhost with my pi address
3. I was able to access from a browser the address you sent in the following format:
```http://192.168.1.253:9797/?code=4/0AdQt8qi-y9VMjWL7SQAxdxlbvDZr9S6NN8gqE8_9LupN4R3Cvp-r5Vc0U2VE1hSy0cZoRQ&scope=https://www.googleapis.com/auth/drive```

How do we continue from her

[2022-07-24 06:31] Akianonymus commented on #190
You were not able to open with localhost ?

[2022-07-24 06:38] Roei639 commented on #190
No...

[2022-07-30 15:30] manzolo commented on #188
It works perfectly

[2022-08-08 10:15] #188 closed

[2022-09-12 15:11] nextvern commented on #190
I have same problem on v4.5. I think python http server is not working.

[2022-09-27 07:31] mystix commented on #122
Was this feature ever merged into master?

[2022-09-28 16:23] jkaan commented on #190
Same issue here!

[2022-10-10 23:14] marvic2409 opened #191 "What scopes are needed?"
I'm trying to use this script for a simple file upload to a folder in my personal google drive and when using the Oauth keys in testing, they get revoked every couple of days. In order to push the project to public, I need to know which scopes are needed. Which scopes does this script request for?

[2022-10-10 23:40] marvic2409 commented on #191
I changed the scope in the script from auth/drive to auth/drive.file and that allowed me to publish the oauth app without verification

[2022-10-10 23:42] #191 closed, assigned to nobody

[2022-10-14 05:46] Akianonymus commented on #191
Hmm, interesting, i will probably make a change to the script then.

[2022-10-15 23:41] mohamed-tayeh commented on #190
~~It works for me and I get the the token after `?code=` until `&` however when I paste in the command line, it doesn't work "Invalid refresh token".~~

I figured it out:
- Follow the download steps in the [Installation](https://labbots.github.io/google-drive-upload/setup/install/) and the  [Initial Setup](https://labbots.github.io/google-drive-upload/setup/initial_setup/)
- When prompted to go to